@keyframes typing {
  from { width:0 }
}

@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% { opacity: 1;}
  99% { opacity: 0.01;}
  100% { opacity: 0;}
}

@keyframes fadeIn {
  0% { opacity: 0;}
  1% { opacity: 0.01;}
  100% { opacity: 1;}
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity:1;
    transform: translateY(0px);
  }
}