*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC';
  background-color: #FFF5C5;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

.hydrated {
  background-color: #FFF5C5;
}
  
@font-face {
  font-family: 'Noto Sans TC';
  font-display: fallback;
  src: url('../src/font/NotoSansTC-Regular.otf');
}