.one-line {
  
  width: 100vw;
  height: 100vh;
  background-color: #FFF5C5;
  
  &__theday {
    margin: auto;
    width: 246px;
    height: 100vh;

    @include respond(phone) {
      width: 205px;
    }

    &-box {
      font-size: 30px;
      width: 246px;
      line-height: 100vh;
      letter-spacing: 1px;
      font-weight: 700;

      @include respond(phone) {
        width: 205px;
        font-size: 25px;
        font-weight: 500;
      }

      &-typing {
        width: 246px;
        overflow: hidden;
        white-space: nowrap;
        animation: typing .8s steps(18);
        
        @include respond(phone) {
          width: 205px;
        }
      }
    }
  }

  &__infoinsert {
    margin: auto;
    width: 454px;
    height: 100vh;

    @include respond(phone) {
      width: 303px;
    }

    &-box {
      width: 454px;
      line-height: 100vh;
      font-weight: 700;
      font-size: 30px;

      @include respond(phone) {
        width: 303px;
        font-size: 20px;
        font-weight: 500;
      }

      &-short_typing {
        width: 454px;
        overflow: hidden;
        white-space: nowrap;
        animation: typing .8s steps(35);

        @include respond(phone) {
          width: 303px;
        }
      }
    }
  }
}

.twoline_box {
  font-size: 30px;
  width: 380px;
  height: 100vh;
  margin: auto;
  display: table;

  @include respond(phone) {
    width: 250px;
  }

  &__twoline {
    display: table-cell;
    vertical-align: middle;
    line-height: 35px;

    & p {
      width: 300px;
      font-weight: 500;
      font-size: 30px;
      white-space: nowrap;
      overflow: hidden;
      color: white;
      opacity: 0;

      @include respond(phone) {
        width: 250px;
        font-size: 20px;
        font-weight: 300;
      }
    }
    
    &-text-1 {
      opacity: 0;

      -webkit-animation: type 1s steps(40, end);
      -webkit-animation-fill-mode: forwards;
      animation: type 1s steps(40, end);
      animation-fill-mode: forwards;
    }

    &-text-2 {
      opacity: 0;

      -webkit-animation:type 1s steps(40, end);
      -webkit-animation-delay: 1.2s;
      -webkit-animation-fill-mode:forwards;
      animation: type 1s steps(40, end);
      animation-delay: 1.2s;
      animation-fill-mode: forwards;
    }
  }
}