.one-line {
  
  width: 100vw;
  height: 100vh;
  background-color: #FFF5C5;
  
  &__theday {
    margin: auto;
    width: 24.6rem;
    height: 100vh;

    @include respond(phone) {
      width: 20.5rem;
    }

    &-box {
      font-size: 3rem;
      width: 24.6rem;
      line-height: 100vh;
      letter-spacing: .1rem;
      font-weight: 700;

      @include respond(phone) {
        width: 20.5rem;
        font-size: 2.5rem;
        font-weight: 500;
      }

      &-typing {
        width: 24.6rem;
        overflow: hidden;
        white-space: nowrap;
        animation: typing .8s steps(18);
        
        @include respond(phone) {
          width: 20.5rem;
        }
      }
    }
  }

  &__infoinsert {
    margin: auto;
    width: 45.4rem;
    height: 100vh;

    @include respond(phone) {
      width: 30.3rem;
    }

    &-box {
      font-size: 3rem;
      width: 45.4rem;
      line-height: 100vh;
      font-weight: 700;

      @include respond(phone) {
        width: 30.3rem;
        font-size: 2rem;
        font-weight: 500;
      }

      &-typing {
        width: 45.4rem;
        overflow: hidden;
        white-space: nowrap;
        animation: typing .8s steps(35);

        @include respond(phone) {
          width: 30.3rem;
        }
      }
    }
  }
}