.body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding-top: .5rem;
}

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;

  &--main {
    color: black;
    margin-top: 2rem;
    letter-spacing: .3rem;
  }
  
  &--sub {
    color: #777;
    letter-spacing: .2rem;
  }
}

.the-day {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: auto;
  
  h3 {
    position: relative;
    top:45%;
    transform:translateY(-45%);
    margin-left: 75vh;
    width: 10rem;
    border-right: .05em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(10), caret 1s steps(1) infinite;
  }
}