@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin respond($breakpoint) {

  @if $breakpoint == tablet {
    @media (max-width: 900px) { @content };
  }

  @if $breakpoint == phone {
    @media (max-width: 600px) { @content };
  }
}