@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond-phone {
  @media (max-width: 36rem) { @content };
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 36rem) { @content };
  }
}