@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin respond($breakpoint) {

  @if $breakpoint == tablet {
    @media (max-width: 900px) { @content };
  }

  @if $breakpoint == phone {
    @media (max-width: 600px) { @content };
  }
}