.conversation {
  width: 100vw;
  height: 100vh;

  &__block {
    margin: 0 auto;

    &-1 {
      width: 700px;
      height: 450px;
      padding-top: 70px;
      position: relative;
      z-index: 1;

      @include respond(phone) {
        width: 375px;
        height: 241px;
        padding-top: 55px;
      }

      &__goto {
        position: absolute;
        width: 117px;
        height: 32px;
        color: white;
        background-color: #828282;
        border-radius: 10px;
        line-height: 32px;
        text-align: center;
        font-size: 18px;
        z-index: 10;
        position: absolute;
        margin: 20px;
        cursor: pointer;
        opacity: .6;

        @include respond(phone) {
          margin: 15px;
          width: 70px;
          height: 25px;
          line-height: 25px;
          font-size: 16px;
        }
      }
    }

    &-2 {
      width: 840px;
      height: 170px;
      margin-top: 70px;
      background-color: black;
      border: 5px solid #86663C;
      border-radius: 20px;
      background-color: white;
      position: relative;
      z-index: 2;

      @include respond(phone) {
        width: 320px;
        height: 230px;
        margin-top: 93px;
      }

      &__identity {
        position: absolute;
        width: 100px;
        height: 50px;
        border-radius: 20px;
        font-size: 25px;
        line-height: 50px;
        color: white;
        text-align: center;
        z-index: 9999;
        top: -25px;
        left: 20px;

        @include respond(phone) {
          width: 75px;
          height: 40px;
          left: 20px;
          font-size: 20px;
          line-height: 40px;
        }

        &-ama {
          background-color: #F06F04;
        }

        &-main_role {
          background-color: #37CCFF;
        }
      }

      &__text-box {
        width: 725px;
        margin: 42px 67px 44px 47px;

        @include respond(phone) {
          width: 272px;
          margin: 55px 24px 0px 24px;
        }
      }

      &__text {
        white-space: nowrap;
        overflow: hidden;
        color: #5E3F15;
        font-size: 25px;
  
        @include respond(phone) {
          font-size: 18px;
          width: 270px;
        }
  
        &-1 {
          letter-spacing: 1px;
          opacity: 0;
          -webkit-animation: type 1s steps(40, end);
          -webkit-animation-fill-mode: forwards;
          animation: type 1s steps(40, end);
          animation-fill-mode: forwards;
    
          &-notyping {
            letter-spacing: 1px;
            opacity: 1 !important;
            -webkit-animation: none;
            animation: none;
          }

          @include respond(phone) {
            letter-spacing: 0;
          }
        }
    
        &-2 {
          opacity: 0;
          letter-spacing: 1px;
          margin-top: 2px;
          -webkit-animation:type 1s steps(40, end);
          -webkit-animation-delay: 1.2s;
          -webkit-animation-fill-mode:forwards;
          animation: type 1s steps(40, end);
          animation-delay: 1.2s;
          animation-fill-mode: forwards;
    
          &-notyping {
            letter-spacing: 1px;
            opacity: 1 !important;
            -webkit-animation: none;
            animation: none;
          }

          @include respond(phone) {
            letter-spacing: 0;
          }
        }
    
        &-3 {
          opacity: 0;
          letter-spacing: 1px;
          margin-top: 2px;
          -webkit-animation:type 1s steps(40, end);
          -webkit-animation-delay:2.1s;
          -webkit-animation-fill-mode:forwards;
          animation: type 1s steps(40, end);
          animation-delay: 2.1s;
          animation-fill-mode: forwards;

          @include respond(phone) {
            letter-spacing: 0;
          }
        }
    
        &-4 {
          opacity: 0;
          letter-spacing: 1px;
          margin-top: 2px;
          -webkit-animation:type .8s steps(40, end);
          -webkit-animation-delay:3.2s;
          -webkit-animation-fill-mode:forwards;
          animation: type .8s steps(40, end);
          animation-delay: 3.2s;
          animation-fill-mode: forwards;

          @include respond(phone) {
            letter-spacing: 0;
          }
        }
      }

      &__btn {
        font-size: 72px;
        color: #F06F04;
        position: absolute;
        top: 90px;
        right: 10px;
        animation: flicker 1.2s infinite;

        & ion-icon {
          background-color: transparent;
          cursor: pointer;
        }

        @include respond(phone) {
          top: 165px;
          right: 5px;
          font-size: 60px;
        }
      }
    }
  }

  &__box {
    width: 840px;
    height: 170px;
    z-index: 105;
    
    position: fixed;
    top: 520px;
    left: 0;
    right: 0;
    padding: 42px 67px 44px 47px;
    margin: 0 auto;

    @include respond(phone) {
      width: 330px;
      height: 230px;
      padding: 0;
      padding: 55px 24px;
      top: 350px;
    }

    &-option {
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      background-color: #F06F04;
      width: 340px;
      height: 75px;
      line-height: 69px;
      color: white;
      font-size: 19px;
      text-align: center;
      border-radius: 20px;
      border: 3px solid white;
      box-shadow: 5px 10px 10px rgba(black, .2);
      cursor: pointer;

      &:hover {
        background-color: #FF8622;
      }

      &:active {
        box-shadow: none;
      }

      @include respond(phone) {
        width: 265px;
        height: 65px;
        position: relative;
        font-size: 18px;
        margin: 0;
        border: 3px solid white;
      }
      
      &-1 {
        left: 55px;

        @include respond(phone) {
          line-height: 20px;
          left: 0;
          color: white;
          text-align: left;
          padding: 12px 38px;
          transform: translateY(-22px);
        }
      }

      &-2 {
        left: 445px;

        @include respond(phone) {
          line-height: 20px;
          left: 0;
          padding: 12px 38px;
          text-align: left;
          margin-top: 26px;
          transform: translateY(-22px);
        }
      }
    }
  }
}

.pre_img_a2 {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: fadeIn 7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation: fadeIn 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.normal_img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fadeout_img {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: fadeOut 7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation: fadeOut 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.preload_img {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
}

.combine_3_img {
  width: 100%;
  height: 100%;
  position: absolute;

  &-1 {
    z-index: 101;
  }

  &-2 {
    z-index: 101;
    -webkit-animation: slideUp 2.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: slideUp 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: "hidden",
  }

  &-3 {
    z-index: 100;
  }
}