.hamburger {

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: #FF8622;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 36px;
    right: 36px;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  }

  &__background {
    background-color: #FF8622;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 36px;
    right: 36px;
    z-index: 1000;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1500;
    width: 0;
    opacity: 0;
  }

  &__list {
    text-align: right;
    margin-top: 100px;
    list-style-type: none;
    padding: 0;

    @include respond(phone) {
      text-align: center;
    }
  }

  &__item {
    margin-top: 24px;
    font-size: 22px;
  }

  &__link {
    font-size: 22px;
    color: #666; 
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &:link,
    &:visited {
      display: inline-block;
      font-size: 22px;
      color: #666; 
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
    }

    &:hover,
    &:active {
      color: white;
      
      & > .bull {
        background-color: white;
      }
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(120);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
    z-index: 1500;
  }

  &__icon {
    position: relative;
    margin-top: 25px;

    &,
    &::before,
    &::after {
      width: 25px;
      height: 2.5px;
      background-color: white;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before { top: -8px; }
    &::after { top: 8px; }
  }

  &__checkbox:checked ~ &__button {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0;
    background-color: white;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0;
    background-color: white;
  }
}

.bull {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #666;
  margin-right: 50px;
  margin-left: 15px;
  display: inline-block;
}

.white {
  color: white !important;
}

.background_white {
  background-color: white !important;
}