.page {
  &__block {
    margin: 0 auto;
    opacity: 0;

    &-1 {
      width: 620px;
      height: 240px;
      padding-top: 100px;

      @include respond(phone) {
        width: 340px;
        height: 196px;
        padding-top: 120px;
        margin-bottom: 20px;
      }
    }

    &-2 {
      width: 750px;
      height: 500px;
      background-color: grey; 
      margin-top: 60px;

      @include respond(phone) {
        width: 360px;
        height: 250px;
        margin-top: 120px;
      }
    }

    &-3 {
      width: 700px;
      font-size: 18px;
      padding: 0;
      margin-top: 60px;
      line-height: 32px;
      color: #5E3F15;

      @include respond(phone) {
        width: 312px;
      }
    }

    &-4 {
      width: 200px;
      height: 50px;
      background-color: #F06F04;
      border-radius: 20px;
      border: 3px solid white;
      margin-top: 50px;
      font-size: 20px;
      letter-spacing: 3px;
      text-indent: 3px;
      line-height: 44px;
      text-align: center;
      color: white;
      cursor: pointer;
      box-shadow: 5px 10px 10px rgba(black, .2);

      &:hover {
        background-color: #FF8622;
      }

      &:active {
        box-shadow: none;
      }
    }

    &-5 {
      width: 100vw;
      height: 250px;
      margin-top: 60px;;
      position: relative;

      @include respond(phone) {
        height: 110px;
      }

      &-front {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 530;
        height: 120px;
        margin: 0 auto;

        @include respond(phone) {
          height: 80px;
          top: 15px;
        }
      }

      &-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    &-6 {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 9999;
      background-color: rgba($color-black, .5);
      opacity: 1;
      overflow: scroll;

      &__content {
        opacity: 1;
        width: 1000px;
        height: 1000px;
        overflow: scroll;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 150px 0 270px 0;
        z-index: 10;
        background-color: #FFF5C5;

        @include respond(phone) {
          width: 360px;
          height: 667px;
          padding: 100px 24px;
          top: 0;
        }

        &-close {
          opacity: 1;
          position: absolute;
          top: 30px;
          left: 912px;
          background-color: #F06F04;
          width: 50px;
          height: 50px;
          text-align: center;
          border-radius: 50%;
          font-size: 30px;
          color: white;
          line-height: 50px;
          cursor: pointer;
          padding: 0 0 0 1px;

          @include respond(phone) {
            top: 20px;
            left: 285px;
          }
        }

        &-text {
          opacity: 1;
          width: 750px;
          text-align:justify;

          @include respond(phone) {
            width: 312px;
            height: 100%;
            padding-bottom: 30px;
            overflow: scroll;
          }
        }
        
        & ol {
          display: inline-block;
          font-size: 18px;
          line-height: 35px;
          color: #5E3F15;
        }

        & span {
          font-size: 18px;
          line-height: 35px;
          color: #F06F04;
          cursor: pointer;
        }
      }
    }

    &-7 {
      width: 875px;
      height: 170px;
      margin-top: 60px;;

      @include respond(phone) {
        width: 100vw;
        height: 400px;
        margin-top: 60px;
        padding-top: 60px;
      }

      &-cube {
        margin: auto;
        width: 170px;
        height: 170px;
        float: left;

        @include respond(phone) {
          width: 120px;
          height: 120px;
          -webkit-shape-outside: ellipse(50px 20px at 30% 0%);
          shape-outside: ellipse(50px 20px at 30% 0%);
          transform: translateY(-100px) translateX(-20px);
        }
      }

      &-text-box {
        width: 680px;
        height: 100px;
        border: 3px solid #86663C;
        border-radius: 20px;
        float: right;
        padding: 12px 40px 17px;
        margin-top: 35px;
        background-color: white;

        @include respond(phone) {
          float: none;
          width: 340px;
          height: 220px;
          margin: 30px auto 0;
          padding: 22px 25px;
        }

        &-text {
          height: 100px;

          @include respond(phone) {
          }
        }

        & p {
          color: #5E3F15;
          width: 600px;
          font-size: 24px;
          line-height: 35px;
          text-align: left;
          
          @include respond(phone) {
            width: 288px;
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }

    &-8 {
      width: 427px;
      height: 400px;
      margin-top: 60px;

      @include respond(phone) {
        margin-top: 40px;
        width: 360px;
        height: 280px;
      }
    }

    &-9 {
      margin-top: 25px;
      height: 160px;

      @include respond(phone) {
        height: 450px;
      }
      
      &-btn {
        width: 200px;
        height: 50px;
        background-color: #F06F04;
        border-radius: 20px;
        border: 3px solid white;
        margin-top: 50px;
        margin-bottom: 20px;
        font-size: 20px;
        letter-spacing: 3px;
        text-indent: 3px;
        line-height: 44px;
        text-align: center;
        color: white;
        cursor: pointer;
        box-shadow: 5px 7px 9px rgba(black, .2);

        &:hover {
          background-color: #FF8622;
        }

        &:active {
          box-shadow: none;
        }

        @include respond(phone) {
          margin: 30px auto 0;
        }
      }
    }

    &-10 {
      margin: 60px auto;
      width: 1220px;
      border-top: 3px solid;
      color: #BDBDBD;

      @include respond(phone) {
        margin: 0 auto;
        width: 320px;
      }
    }

    &-11 {
      width: 860px;
      height: 400px;
      margin-top: 80px;

      @include respond(phone) {
        position: static;
        width: 360px;
        height: 640px;
        margin-top: 40px;
      }
    }

    &-12 {
      width: 840px;
      height: 60px;
      text-align: center;
      margin-top: 60px;

      @include respond(phone) {
        width: 360px;
        height: 80px;
        text-align: left;
        margin-top: 40px;
      }
    }

    &-13 {
      width: 700px;
      text-align:justify;
      margin-top: 15px;

      @include respond(phone) {
        width: 312px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        line-height: 32px;
      }
    }

    &-14 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: 3px solid;
      color: #BDBDBD;

      @include respond(phone) {
        width: 320px;
        margin: 60px auto 0;
      }
    }

    &-15 {
      width: 875px;
      height: 170px;
      margin-top: 60px;;

      @include respond(phone) {
        width: 100vw;
        height: 400px;
        margin-top: 60px;
        padding-top: 60px;
      }

      &-cube {
        margin: auto;
        width: 170px;
        height: 170px;
        float: left;

        @include respond(phone) {
          width: 120px;
          height: 120px;
          -webkit-shape-outside: ellipse(50px 20px at 30% 0%);
          shape-outside: ellipse(50px 20px at 30% 0%);
          transform: translateY(-100px) translateX(-20px);
        }
      }

      &-text-box {
        background-color: white;
        width: 680px;
        height: 150px;
        border: 3px solid #86663C;
        border-radius: 20px;
        float: right;
        padding: 22px 40px 27px 40px;
        margin-top: 10px;

        @include respond(phone) {
          float: none;
          width: 340px;
          height: 245px;
          margin: 30px auto 0;
          padding: 22px 25px;
        }

        & p {
          width: 600px;
          //height: 100px;
          font-size: 24px;
          line-height: 33px;
          text-align: left;
          color: #5E3F15;
          
          @include respond(phone) {
            width: 288px;
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }

    &-16 {
      width: 860px;
      height: 400px;
      margin-top: 60px;

      @include respond(phone) {
        margin-top: 65px;
        width: 360px;
        height: 200px;
      }
    }

    &-17 {
      width: 800px;
      margin-top: 12px;

      @include respond(phone) {
        width: 360px;
        height: 116px;
        margin-top: 40px;
      }
    }

    &-18 {
      width: 700px;
      text-align:justify;
      margin-top: 15px;

      @include respond(phone) {
        width: 312px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        line-height: 32px;
      }
    }

    &-19 {
      width: 100vw;
      height: 760px;
      margin-top: 80px;
      background-color: #EAE7CE;

      &-title {
        width: 860px;
        height: 62px;
        margin: 60px auto 0;

        @include respond(phone) {
          width: 360px;
          height: 80px;
        }
      } 
      
      &-text {
        width: 700px;
        text-align: left;
        margin: 15px auto;

        @include respond(phone) {
          width: 312px;
        }

        & p {
          color: #333333;
          font-size: 18px;
          line-height: 32px;
        }
      }

      &-video {
        width: 650px;
        height: 365px;
        margin: 60px auto 0;

        @include respond(phone) {
          margin: 40px auto 0;
          width: 360px;
          height: 202px;
        }
      }
    }

    &-20 {
      width: 100vw;
      height: 250px;
      position: relative;

      @include respond(phone) {
        height: 110px;
      }

      &-front {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 530;
        height: 120px;
        margin: 0 auto;

        @include respond(phone) {
          height: 80px;
          top: 15px;
        }
      }

      &-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    &-21 {
      width: 840px;
      height: 100px;
      margin-top: 60px;;

      @include respond(phone) {
        margin-top: 40px;
        width: 360px;
        height: 116px;
      }
    }

    &-22 {
      width: 860px;
      height: 520px;
      margin-top: 15px;

      @include respond(phone) {
        margin-top: 40px;
        width: 360px;
        height: 580px;
      }
    }

    &-23 {
      width: 700px;
      text-align:justify;
      margin-top: 60px;

      @include respond(phone) {
        margin-top: 40px;
        width: 312px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        line-height: 32px;

        @include respond(phone) {
          font-size: 20px;
          line-height: 34px;
        }
      }
    }

    &-24 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: 3px solid;
      color: #BDBDBD;

      @include respond(phone) {
        width: 320px;
        margin: 60px auto 0;
      }
    }

    &-25 {
      width: 840px;
      height: 100px;
      margin-top: 60px;;

      @include respond(phone) {
        margin-top: 40px;
        width: 324px;
        height: 116px;
      }
    }

    &-26 {
      width: 860px;
      height: 500px;
      background-color: #C8C8C8;
      margin-top: 15px;

      @include respond(phone) {
        width: 360px;
        height: 580px;
        margin-top: 80px;
      }
    }

    &-27 {
      width: 700px;
      text-align:justify;
      margin-top: 60px;

      @include respond(phone) {
        width: 312px;
        margin-top: 40px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        line-height: 32px;

        @include respond(phone) {
          font-size: 20px;
          line-height: 34px;
        }
      }
    }

    &-28 {
      width: 100vw;
      height: 250px;
      margin-top: 60px;;
      position: relative;

      @include respond(phone) {
        height: 110px;
      }

      &-front {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 530;
        height: 120px;
        margin: 0 auto;

        @include respond(phone) {
          height: 80px;
          top: 15px;
        }
      }

      &-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    &-29 {
      width: 840px;
      height: 60px;
      text-align: center;
      margin-top: 60px;;

      @include respond(phone) {
        width: 360px;
        height: 80px;
        margin-top: 40px;
      }
    }

    &-30 {
      width: 525px;
      margin-top: 15px;

      @include respond(phone) {
        width: 208px;
        text-align: center;
        margin-top: 44px;
      }

      & p {
        color: #5E3F15;
        font-size: 20px;
        text-align: center;

        @include respond(phone) {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }

    &-32 {
      width: 734px;
      height: 170px;
      margin-top: 20px;

      @include respond(phone) {
        opacity: 1;
        width: 310px;
        height: 430px;
        margin-top: 20px;
      }
    }

    &-33 {
      margin-top: 15px;
      &-btn {
        width: 180px;
        height: 50px;
        border-radius: 10px;
        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 44px;
        letter-spacing: 1px;
        text-indent: 1px;
        cursor: pointer;
        box-shadow: 5px 7px 9px rgba(black, .2);
        border-radius: 20px;
        border: 3px solid white;

        &:active {
          box-shadow: none;
        }

        &-1 {
          background-color: #007AA5;

          &:hover {
            background-color: #009DBB;
          }
        }

        &-2 {
          background-color: #009DBB;

          &:hover {
            background-color: #00B9D9;
          }
        }

        &-3 {
          background-color: #00B9D9;

          &:hover {
            background-color: #54D0DD;
          }
        }

        &-4 {
          background-color: #54D0DD;

          &:hover {
            background-color: #85E0EA;
          }
        }
      }

      &__two_col {
        width: 375px;
        height: 500px;
        position: relative;
  
        &-left {
          margin: 0;
          position: absolute;
          top: 0;
          left: 33.5px;
          z-index: 1;
        }
  
        &-right {
          position: absolute;
          left: 150px;
          margin-top: 125px;
          width: 200px;
          height: 300px;
          z-index: 10;

          &-btn {
            margin: 0 auto 28px;
            width: 130px;
            height: 34px;
            color: white;
            text-align: center;
            line-height: 28px;
            box-shadow: 5px 10px 10px rgba(black, .2);
            border-radius: 15px;
            border: 3px solid white;
            font-size: 20px;
            z-index: 3;

            @include respond(phone) {
              font-size: 15px;
            }

            &:active {
              box-shadow: none;
            }
  
            &-1 {
              z-index: 3;
              background-color: #007AA5;

              &:hover {
                background-color: #009DBB;
              }
            }
  
            &-2 {
              z-index: 3;
              background-color: #009DBB;

              &:hover {
                background-color: #00B9D9;
              }
            }
  
            &-3 {
              z-index: 3;
              background-color: #00B9D9;

              &:hover {
                background-color: #54D0DD;
              }
            }
  
            &-4 {
              z-index: 3;
              background-color: #54D0DD;
  
              &:hover {
                background-color: #85E0EA;
              }
            }
          }
        }
      }
    }

    &-31 {
      width: 170px;
      height: 24px;
      font-size: 17px;
      margin-top: 15px;
      line-height: 24px;
      color: #86663C;
      text-align: center;
    }

    &-34 {
      opacity: 1;
      width: 860px;
      height: 440px;
      background-color: #C8C8C8;
      margin-top: 40px;

      @include respond(phone) {
        width: 360px;
        height: 250px;
        margin-top: 40px;
      }
    }

    &-35 {
      width: 700px;
      text-align:justify;
      margin-top: 60px;

      @include respond(phone) {
        width: 312px;
        text-align: left;
        margin-top: 30px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        line-height: 32px;
      }
    }

    &-36 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: 3px solid;
      color: #BDBDBD;

      @include respond(phone) {
        width: 320px;
        margin: 60px auto 0;
      }
    }

    &-37 {
      width: 840px;
      height: 60px;
      text-align: center;
      margin-top: 60px;;

      @include respond(phone) {
        width: 360px;
        height: 80px;
        margin-top: 40px;
      }
    }

    &-38 {
      width: 825px;
      text-align: center;
      margin-top: 15px;

      @include respond(phone) {
        width: 304px;
        margin-top: 40px;
      }

      & p {
        color: #5E3F15;
        font-size: 22px;

        @include respond(phone) {
          font-size: 16px;
          line-height: 25px;
        }
      }
    }

    &-40 {
      margin-top: 25px;
      height: 250px;
      &-imgbtn {
        width: 180px;
        height: 230px;
        text-align: center;

        & img {
          width: 162px;
          height: 180px;
        }
      }
    }

    &-41 {
      &-btn {
        width: 180px;
        height: 50px;
        background-color: #FF8622;
        color: black;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        line-height: 44px;
        letter-spacing: 3px;
        text-indent: 8px;
        cursor: pointer;
        box-shadow: 5px 7px 9px rgba(black, .2);
        border-radius: 20px;
        border: 3px solid white;
        color: white;

        &:active {
          box-shadow: none;
        }

        &:hover {
          background-color: #FFA55A;
        }
      }
    }

    &-41-1 {
      width: 340px;
      height: 440px;

      @include respond(phone) {
        height: 480px;
        margin-bottom: 60px;
      }

      &-row-2 {
        width: 320px;
        height: 200px;
        margin: 20px auto 0;

        &-left {
          float: left;
        }

        &-right {
          float: right;
        }
      }

      &-img__btn {
        width: 144px;
        height: 200px;

        &-img {
          width: 144px;
          height: 160px;
        }

        &-btn {
          width: 144px;
          height: 40px;
          box-shadow: 5px 7px 9px rgba(black, .2);
          border-radius: 10px;
          border: 3px solid white;
          line-height: 34px;
          color: white;
          background-color: #FF8622;
          text-align: center;
          font-size: 18px;
          letter-spacing: .090px;

          &:active {
            box-shadow: none;
          }

          &:hover {
            background-color: #FFA55A;
          }
        }
      }
    }

    &-41-2 {
      width: 200px;
      height: 24px;
      font-size: 17px;
      line-height: 24px;
      color: #86663C;
      margin-top: 15px;
      text-align: center;

      @include respond(phone) {
        opacity: 1;
        margin-top: 20px;
        padding-bottom: 80px;
      }
    }

    &-42 {
      opacity: 1;
      width: 860px;
      height: 440px;
      background-color: #C8C8C8;
      margin-top: 40px;

      @include respond(phone) {
        width: 360px;
        height: 400px;
      }
    }

    &-43 {
      width: 700px;
      text-align:justify;
      margin-top: 60px;

      @include respond(phone) {
        width: 312px;
        margin-top: 40px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        line-height: 32px;
        
      }
    }

    &-44 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: 3px solid;
      color: #BDBDBD;

      @include respond(phone) {
        margin: 60px auto 0;
        width: 320px;
      }
    }

    &-45 {
      width: 875px;
      height: 170px;
      margin-top: 60px;;

      @include respond(phone) {
        width: 100vw;
        height: 400px;
        margin-top: 60px;
        padding-top: 60px;
      }

      &-cube {
        margin: auto;
        width: 170px;
        height: 170px;
        float: left;

        @include respond(phone) {
          width: 120px;
          height: 120px;
          -webkit-shape-outside: ellipse(50px 20px at 30% 0%);
          shape-outside: ellipse(50px 20px at 30% 0%);
          transform: translateY(-100px) translateX(-20px);
        }
      }

      &-text-box {
        background-color: white;
        width: 680px;
        height: 150px;
        border: 3px solid #86663C;
        border-radius: 10px;
        float: right;
        padding: 22px 40px 26px;
        margin-top: 10px;

        @include respond(phone) {
          float: none;
          width: 340px;
          height: 250px;
          margin: 30px auto 0;
          padding: 22px 25px;
        }

        & p {
          width: 600px;
          font-size: 24px;
          line-height: 33px;
          text-align: left;
          color: #5E3F15;
          
          @include respond(phone) {
            width: 288px;
            font-size: 22px;
            line-height: 32px;
          }
        }
      }
    }

    &-46 {
      width: 858.0138px;
      height: 618.5px;
      margin-top: 60px;

      @include respond(phone) {
        width: 360px;
        height: 1159px;
        margin-top: 80px;
      }
    }

    &-47 {
      width: 840px;
      height: 60px;
      text-align: center;
      margin-top: 60px;

      @include respond(phone) {
        width: 360px;
        height: 80px;
        margin-top: 40px;
      }
    }

    &-48 {
      width: 700px;
      text-align:justify;
      margin-top: 15px;

      @include respond(phone) {
        width: 312px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 32px;

        @include respond(phone) {
          letter-spacing: 0;
        }
      }
    }

    &-49 {
      width: 100vw;
      height: 793px;
      margin-top: 60px;
      background-color: #EAE7CE;

      @include respond(phone) {
        margin-top: 60px;
      }

      &-title {
        width: 840px;
        height: 60px;
        text-align: center;
        margin: 60px auto 0;

        @include respond(phone) {
          width: 360px;
          height: 80px;
          margin-top: 40px;
        }
      } 
      
      &-text {
        width: 700px;
        text-align:justify;
        margin: 15px auto 0;

        @include respond(phone) {
          margin: 20px auto 0;
          width: 312px;
        }

        & p {
          color: #333333;
          font-size: 18px;
          line-height: 32px;

          @include respond(phone) {
            letter-spacing: 1px;
          }
        }
      }

      &-video {
        width: 650px;
        height: 365px;
        background-color: #C8C8C8;
        color: black;
        margin: 60px auto 0;

        @include respond(phone) {
          margin: 40px auto 0;
          width: 360px;
          height: 202px;
        }
      }
    }

    &-50 {
      width: 100vw;
      height: 250px;
      position: relative;

      @include respond(phone) {
        height: 110px;
      }

      &-front {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 530;
        height: 120px;
        margin: 0 auto;

        @include respond(phone) {
          height: 80px;
          top: 15px;
        }
      }

      &-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }

    &-51 {
      width: 100vw;
      height: 990px;

      @include respond(phone) {
        width: 100vw;
        height: 400px;
        margin-top: 60px;
        padding-top: 60px;
      }

      &-content {
        width: 875px;
        height: 170px;
        margin: 60px auto 0;

        @include respond(phone) {
          width: 100vw;
          height: 350px;
          margin: 0 auto;
          padding-top: 60px;
        }

        &-cube {
          margin: auto;
          width: 170px;
          height: 170px;
          float: left;

          @include respond(phone) {
            width: 120px;
            height: 120px;
            -webkit-shape-outside: ellipse(50px 20px at 30% 0%);
            shape-outside: ellipse(50px 20px at 30% 0%);
            transform: translateY(-100px) translateX(-20px);
          }
        }

        &-text-box {
          background-color: white;
          width: 680px;
          height: 100px;
          border: 3px solid #86663C;
          border-radius: 20px;
          float: right;
          padding: 15px 40px;
          margin-top: 35px;

          @include respond(phone) {
            float: none;
            width: 340px;
            height: 180px;
            margin: 30px auto 0;
            padding: 22px 25px;
          }

          & p {
            width: 600px;
            font-size: 24px;
            text-align: left;
            color: #5E3F15;

            @include respond(phone) {
              width: 288px;
              font-size: 22px;
              line-height: 32px;
            }
          }
        }
      }
    
      &-video-slides {
        margin-top: 40px;
        text-align: center;

        &-window {
          margin: 0 auto;
          width: 900px;
          height: 600px;

          &-left {
            width: 46px;
            height: 100px;
            background-image: url('./img/arrow-left.svg');
            float: left;
            transform: translateY(200%);
          }
  
          &-right {
            width: 46px;
            height: 100px;
            background-image: url('./img/arrow-right.svg');
            float: right;
            transform: translateY(200%);
          }
        }

        &-dot {
          margin: 0 auto;

          &-group {
            width: 400px;
            height: 50px; 
            margin-top: 50px;
            display: inline-block;
          }

          width: 30px;
          height: 30px;    
          border-radius: 50%;
          background-color: white;
          display: inline-block;
          margin-right: 30px;
        }
      }
    }

    &-52 {
      width: 840px;
      height: 60px;
      text-align: center;
      margin-top: 40px;

      @include respond(phone) {
        width: 360px;
        height: 80px;
        margin-top: 40px;
      }
    }

    &-53 {
      width: 700px;
      text-align:justify;
      margin-top: 15px;

      @include respond(phone) {
        width: 312px;
        margin-top: 20px;
      }
      
      & p {
        color: #5E3F15;
        font-size: 18px;
        line-height: 32px;
      }
    }

    &-54 {
      width: 100vw;
      height: 928px;
      margin-top: 60px;
      background-color: #EAE7CE;

      @include respond(phone) {
        height: 776px;
      }

      &-title {
        width: 840px;
        height: 100px;
        text-align: center;
        margin: 60px auto 0;


        @include respond(phone) {
          width: 360px;
          height: 80px;
          margin-top: 40px;
        }
      } 
      
      &-text {
        width: 700px;
        text-align:justify;
        margin: 15px auto 0;

        @include respond(phone) {
          width: 312px;
          margin: 20px auto 0;
        }

        & p {
          color: #333333;
          font-size: 18px;
          line-height: 32px;
        }
      }

      &-video-grid {
        width: 1110px;
        height: 196px;
        color: black;
        margin: 60px auto 0;

        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 30px;

        &-row-2 {
          margin: 30px auto 0;
        }
      }

      &-video-slides {
        margin-top: 40px;
        text-align: center;

        &-window {
          margin: 0 auto;
          width: 360px;

          &-left {
            width: 23px;
            height: 50px;
            background-image: url('./img/arrow-left.svg');
            float: left;
            transform: translateY(100%);
          }
  
          &-right {
            width: 23px;
            height: 50px;
            background-image: url('./img/arrow-right.svg');
            float: right;
            transform: translateY(100%);
          }
  
          &-img {
            width: 290px;
            height: 162px;
            background-color: grey;
            margin: 0 auto;
            display: inline-block;
          }
        }

        &-dot {
          &-group {
            width: 150px;
            height: 10px; 
            margin-top: 20px;
            display: inline-block;
          }

          width: 10px;
          height: 10px;          
          border-radius: 50%;
          background-color: white;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }

    &-55 {
      width: 100vw;
      height: 1348px;
      color: #5E3F15;

      @include respond(phone) {
        height: 1400px;
      }

      &-title {
        width: 860px;
        height: 62px;
        margin: 60px auto 0;

        @include respond(phone) {
          width: 360px;
          height: 48px;
        }

        & p {
          color: #5E3F15;
          font-size: 30px;
          letter-spacing: 1px;

          @include respond(phone) {
            font-size: 32px;
            line-height: 40px;
          }
        }
      } 
      
      &-text {
        width: 700px;
        text-align: center;
        margin: 15px auto 0;

        @include respond(phone) {
          width: 312px;
          text-align: left;
          margin: 20px auto 0;
        }

        & p {
          color: #5E3F15;
          font-size: 22px;
          letter-spacing: 1px;

          @include respond(phone) {
            font-size: 20px;
            line-height: 34px;
            letter-spacing: 0;
          }
        }
      }

      &-grid {
        width: 1162px;
        height: 865px;
        color: black;
        margin: 100px auto 0;

        display: grid;
        grid-template-columns: 541px 541px;
        grid-template-rows: 235px 235px 235px;
        grid-gap: 80px;

        @include respond(phone) {
          display: block;
          width: 100vw;
        }

        &-person {

          @include respond(phone) {
            width: 312px;
            height: 180px;
            margin: 35px auto 0;
          }

          &-left {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: grey;
            float: left;

            @include respond(phone) {
              width: 80px;
              height: 80px;
              transform: translateY(20px);
            }
          }

          &-right {
            float: right;
            width: 331px;

            @include respond(phone) {
              width: 217px;
            }

            &-span {
              &-1 {
                color: #5E3F15;
                font-size: 30px;

                @include respond(phone) {
                  font-size: 22px;
                }
              }

              &-2 {
                color: #5E3F15;
                font-size: 20px;

                @include respond(phone) {
                  font-size: 16px;
                }
              }
            }

            &-text {
              color: #5E3F15;
              font-size: 20px;
              margin: 20px 0 30px 0;

              @include respond(phone) {
                font-size: 15px;
                margin: 10px 0 0;
              }
            }

            &-btn {
              width: 166px;
              height: 41px;
              background-color: #FF8622;
              color: white;
              border-radius: 20px;
              font-size: 20px;
              text-align: center;
              line-height: 41px;
              cursor: pointer;

              &:hover {
                background-color: #FB9643;
              }

              @include respond(phone) {
                width: 102px;
                height: 25px;
                font-size: 14px;
                line-height: 25px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }

    &-57 {
      width: 100vw;
      height: 535px;
      background-image: url('./img/orange-background.jpg');
      color: white;

      @include respond(phone) {
        height: 880px;
        margin-top: 100px;
      }

      &-content {
        width: 810px;
        height: 150px;
        margin: 60px auto 0;
        
        @include respond(phone) {
          width: 100vw;
          height: 280px;
          margin: 0 auto;
          padding-top: 80px;
        }

        &-cube {
          margin: auto;
          width: 170px;
          height: 170px;
          float: left;

          @include respond(phone) {
            float: none;
            width: 120px;
            height: 120px;
          }
        }

        &-text-box {
          width: 600px;
          height: 100px;
          border: 3px solid #86663C;
          background-color: white;
          border-radius: 40px;
          float: right;
          padding: 30px 38px;
          margin-top: 35px;

          @include respond(phone) {
            float: none;
            width: 340px;
            height: 130px;
            margin: 30px auto 0;
            padding: 29px 26px;
          }

          & p {
            width: 550px;
            font-size: 24px;
            letter-spacing: 1px;
            text-indent: 1px;
            text-align: center;
            color: #5E3F15;

            @include respond(phone) {
              width: 288px;
              font-size: 24px;
              line-height: 35px;
            }
          }
        }
      }
      
      &-text {
        width: 750px;
        text-align:justify;
        margin: 40px auto 0;

        @include respond(phone) {
          width: 305px;
          margin: 120px auto 0;
        }

        & p {
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 1px;

          @include respond(phone) {
            font-size: 20px;
            letter-spacing: .0910px;
          }
        }
      }

      &-btn {
        cursor: pointer;
        width: 220px;
        height: 50px;
        text-align: center;
        line-height: 44px;
        background-color: #F4D0A1;
        margin: 43px auto 0;
        
        
        box-shadow: 5px 10px 10px rgba(black, .2);
        border-radius: 20px;
        border: 3px solid white;

        & a {
          text-decoration: none;
          font-size: 23px;
          letter-spacing: 1px;
          color: #5E3F15;
        }

        & a:link {
          text-decoration: none;
        }
        
        & a:visited {
          text-decoration: none;
        }

        &:hover {
          background-color: #F4C88E;
        }

        &:active {
          box-shadow: none;
        }

        @include respond(phone) {
          margin: 40px auto 0;
          width: 255px;
        }
      }
    }

    &-58 {
      width: 100vw;
      height: 800px;
      background-color: #FFF5D8;
      padding: 100px 0;
      text-align: center;

      &-pic {
        width: 750px;
        height: 409px;
        margin: 0 auto;

        @include respond(phone) {
          width: 375px;
          height: 250px;
        }
      }

      &-share {
        width: 840px;
        height: 60px;
        text-align: center;
        margin: 60px auto 0;

        @include respond(phone) {
          width: 360px;
          height: 48px;
          margin-top: 40px;
        }
      }

      &-btn {
        cursor: pointer;
        width: 220px;
        height: 50px;
        border-radius: 20px;
        border: 3px solid white;
        text-align: center;
        line-height: 44px;
        background-color: #F06F04;
        margin: 30px auto 0;
        color: white;
        font-size: 23px;
        letter-spacing: 1px;
        box-shadow: 5px 10px 10px rgba(black, .2);

        &:hover {
          background-color: #FF8622;
        }

        &:active {
          box-shadow: none;
        }

        @include respond(phone) {
          margin: 20px auto 0;
        }
      }
    }

    &-59 {
      width: 100vw;
      height: 700px;
      background-color: #1DAEDF;
      padding-top: 60px;

      @include respond(phone) {
        height: 661px;
        padding-top: 40px;
      }
      
      &-pic {
        width: 250px;
        height: 220px;
        margin: 0 auto;
        background-image: url('./img/logo-02.png');
      }

      &-icon {
        font-size: 50px;
        color: white;
        text-align: center;

        & ion-icon {
          background-color: transparent;
          cursor: pointer;
        }

        & :not(:last-child) {
          margin-right: 40px;
        }
      }

      &-line {
        text-align: center;
        width: 560px;
        border-top: 3px solid #6DD5F9;
        margin: 20px auto;

        @include respond(phone) {
          width: 320px;
        }
      }

      &-name {
        width: 440px;
      }

      &-textbox {
        height: 90px;
        font-size: 19px;
        line-height: 30px;
        color: white;
        margin: 0;
        padding: 0;
        text-align: left;
      }

      &-text {
        color: white;
        text-align: center;

        &-1 {
          font-size: 20px;
          margin-bottom: 80px;
        }

        &-2 {
          font-size: 16px;

          @include respond(phone) {
            text-align: left;
            width: 312px;
            font-size: 16px;
            margin: 50px 24px 0;
          }
        }
      }

      &-row {
        width: 302px;
        height: 48px;
        margin: 0 auto 20px;
        color: white;
        font-size: 20px;
        line-height: 22px;

        &-left {
          float: left;
          width: 120px;
          height: 48px;
        }

        &-right {
          float: right;
          width: 162px;
          height: 48px;
        }
      }
    }

    &-60 {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background-color: rgba($color-black, .5);
      opacity: 1;

      &__content {
        opacity: 1;
        margin: auto;
        width: 750px;
        height: 500px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: #FFF5C5;

        @include respond(phone) {
          width: 360px;
          height: 560px;
        }

        &-text {
          opacity: 1;
          margin: 69px auto 0;
          width: 312px;
          height: 40px;
          line-height: 40px;
          color: #5E3F15;
          font-size: 30px;
          letter-spacing: 1.2px;

          @include respond(phone) {
            width: 280px;
            font-size: 25px;
            letter-spacing: 1px;
            margin: 159px auto 0;
          }
        }
  
        &-close {
          opacity: 1;
          position: absolute;
          top: 15px;
          left: 675px;
          background-color: #FF8622;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          text-align: center;
          font-size: 35px;
          color: white;
          line-height: 50px;
          margin: 0;
          padding: 0;
          cursor: pointer;
  
          @include respond(phone) {
            top: 15px;
            left: 295px;
          }
        }
  
        &-row-icon {
          opacity: 1;
          //@include absCenter;
          width: 260px;
          height: 100px;
          margin: 40px auto 0;

          @include respond(phone) {
            width: 200px;
            height: 76px;
            margin: 33px auto 0;
          }
  
          &-line {
            width: 100px;
            height: 100px;
            float: right;
            cursor: pointer;

            @include respond(phone) {
              width: 76px;
              height: 76px;
            }
          }
  
          &-fb {
            width: 100px;
            height: 100px;
            float: left;
            cursor: pointer;

            @include respond(phone) {
              width: 76px;
              height: 76px;
            }
          }
        }
  
        &-row-copied {
          width: 580px;
          height: 70px;
          margin: 50px auto 0;

          @include respond(phone) {
            width: 327px;
            height: 58px;
            margin: 53px auto 0;
          }
  
          &-input {
            width: 388px;
            height: 70px;
            background-color: white;
            font-size: 28px;
            letter-spacing: 1px;
            padding: 17px 10px 14px 40px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;

            @include respond(phone) {
              width: 185px;
              height: 58px;
              font-size: 15px;
              letter-spacing: 0.54px;
              padding: 17px 10px 17px 23px;
            }
          }
  
          &-btn {
            width: 192px;
            height: 70px;
            background-color: #F06F04;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            color: white;
            line-height: 70px;
            text-align: center;
            font-size: 28px;
            letter-spacing: 1px;
            cursor: pointer;

            @include respond(phone) {
              width: 142px;
              height: 58px;
              font-size: 19px;
              letter-spacing: .68px;
              line-height: 58px;
            }
          }
        }
      }
    }

    &-61 {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 9999;
      background-color: rgba(black, .5);
      opacity: 1;

      &__content {
        width: 1000px;
        height: 95vh;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 150px 0 170px 0;
        z-index: 1000;
        background-color: #FFF5C5;
        opacity: 1;
        text-align: center;
        overflow: scroll;

        @include respond(phone) {
          width: 360px;
          height: 667px;
          padding: 100px 24px;
          top: 0;
        }

        &-close {
          position: fixed;
          top: 125px;
          left: 1050px;
          background-color: #F06F04;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          text-align: center;
          font-size: 35px;
          color: white;
          line-height: 50px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          opacity: 1;

          @include respond(phone) {
            top: 20px;
            left: 285px;
          }
        }

        &-text {
          width: 750px;
          text-align:justify;

          @include respond(phone) {
            width: 312px;
            overflow: scroll;
          }
        }
        
        & p {
          display: inline-block;
          font-size: 18px;
          line-height: 35px;
          color: #5E3F15;
        }

        & span {
          font-size: 18px;
          line-height: 35px;
          color: #F06F04;
          cursor: pointer;
        }
      }
    }

    &-62 {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5000;
      background-color: rgba($color-black, .5);
      opacity: 1;

      &__content {
        opacity: 1;
        margin: auto;
        width: 360px;
        height: 640px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: #FFF5C5;
  
        &-close {
          opacity: 1;
          position: absolute;
          top: 15px;
          left: 295px;
          background-color: #FF8622;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          text-align: center;
          font-size: 35px;
          color: white;
          line-height: 50px;
          margin: 0;
          padding: 0;
          cursor: pointer;
          z-index: 5001;
        }
      }
    }
  }
}

.add_opacity {
  opacity: .3 !important;
}

.add_showup {
  -webkit-animation: showUp .8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation: showUp .8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  overflow: hidden;
}

.imgStyle {

  width: 860px;
  height: 400px;
  position: absolute;
  left: 0;
  right: 0;

  &-1 {
    z-index: 101;
  }

  &-2 {
    z-index: 102;
    -webkit-animation: fadeIn 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: fadeIn 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    overflow: hidden;
  }

  &-3 {
    z-index: 103;
    -webkit-animation: fadeIn 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation: fadeIn 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0;
    overflow: hidden;
  }
}

.delay3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.delay6s {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

