.page {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 10px;

  &__block {
    margin: 0 auto;

    &-1 {
      width: 51.3rem;
      text-align: center;
      padding-top: 10rem;
      color: #5E3F15;

      @include respond(phone) {
        width: 36rem;
      }

      & h1 {
        font-size: 4.8rem;
        

        @include respond(phone) {
          line-height: 4.8rem;
          font-size: 3.6rem;
          letter-spacing: .1rem;
        }
      }

      & h2 {
        font-size: 3rem;

        @include respond(phone) {
          line-height: 4.8rem;
          font-size: 2.6rem;
          letter-spacing: .1rem;
        }
      }
    }

    &-2 {
      width: 75rem;
      height: 30rem;
      background-color: grey; 
      margin-top: 6rem;

      @include respond(phone) {
        width: 36rem;
      }
    }

    &-3 {
      width: 70rem;
      font-size: 1.8rem;
      padding: 0;
      margin-top: 6rem;
      line-height: 3.5rem;
      color: #5E3F15;
      font-weight: 700;

      @include respond(phone) {
        width: 31.2rem;
      }
    }

    &-4 {
      width: 20rem;
      height: 5rem;
      background-color: #F06F04;
      border-radius: 2rem;
      border: .5rem solid white;
      margin-top: 5rem;
      font-size: 2rem;
      letter-spacing: .1rem;
      line-height: 4rem;
      text-align: center;
      color: white;
      cursor: pointer;
      box-shadow: .5rem 1rem 1rem rgba(black, .2);

      &:hover {
        background-color: #FF8622;
      }

      &:active {
        box-shadow: none;
      }
    }

    &-5 {
      width: 100vw;
      height: 25rem;
      background-color: #828282;
      margin-top: 10rem;
      position: relative;
      background-color: #1DAEDF;

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 37.6rem;
        height: 10rem;
        margin: auto;

        @include respond(phone) {
          width: 19.8rem;
          height: 15rem;
          margin: auto;
        }

        &-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left;

          @include respond(phone) {
            float: none;
            width: 8rem;
            height: 8rem;
            margin: 0 auto;
          }
        }
  
        &-text {
          width: 27rem;
          height: 10rem;
          float: right;

          @include respond(phone) {
            float: none;
            width: 19.8rem;
            height: 4rem;
            padding: 0;
            text-align: left;
            margin: 0;
          }

          & p {
            font-size: 4rem;
            letter-spacing: .1rem;
            text-align: center;
            line-height: 10rem; 
            color: white;

            @include respond(phone) {
              height: 4rem;
              font-size: 3.2rem;
            }
          }
        }
      }
    }

    &-6 {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 9999;
      background-color: rgba($color-black, .5);

      &__content {
        width: 100rem;
        height: 80rem;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15rem 0 17rem 0;
        z-index: 10;
        background-color: #FFF5C5;

        @include respond(phone) {
          width: 36rem;
          height: 66.7rem;
          padding: 10rem 2.4rem;
          top: 0;
        }

        &-close {
          position: absolute;
          top: 3rem;
          left: 91.2rem;
          background-color: #F06F04;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          text-align: center;
          font-size: 5rem;
          color: white;
          line-height: 5rem;
          margin: 0;
          padding: 0;
          cursor: pointer;

          @include respond(phone) {
            top: 2rem;
            left: 28.5rem;
          }
        }

        &-text {
          width: 75rem;

          @include respond(phone) {
            width: 31.2rem;
            height: 100%;
            overflow: scroll;
          }
        }
        
        & p {
          display: inline-block;
          font-size: 1.8rem;
          line-height: 3.5rem;
          color: #5E3F15;
          font-weight: 700;
        }

        & span {
          font-size: 1.8rem;
          line-height: 3.5rem;
          color: #F06F04;
          cursor: pointer;
        }
      }
    }

    &-7 {
      width: 86rem;
      height: 15rem;
      margin-top: 10rem;

      @include respond(phone) {
        width: 100vw;
        height: 35rem;
        margin-top: 8rem;
      }

      &-cube {
        margin: auto;
        width: 14rem;
        height: 14rem;
        background-color: #C8C8C8;
        float: left;

        @include respond(phone) {
          float: none;
          width: 12rem;
          height: 12rem;
        }
      }

      &-text-box {
        width: 68rem;
        height: 15rem;
        border: .3rem solid #86663C;
        border-radius: 1rem;
        float: right;
        padding: 2.5rem 4rem;
        margin-top: -.5rem;
        background-color: white;

        @include respond(phone) {
          float: none;
          width: 34rem;
          height: 20rem;
          margin: 3rem auto 0;
          padding: 3.3rem 2.6rem;
        }

        &-text {
          height: 10rem;
        }

        & p {
          font-weight: 700;
          color: #5E3F15;
          width: 60rem;
          font-size: 2.4rem;
          line-height: 3.5rem;
          text-align: left;
          
          @include respond(phone) {
            width: 28.8rem;
            font-size: 2.2rem;
            line-height: 3.2rem;
          }
        }
      }
    }

    &-8 {
      width: 86rem;
      height: 35rem;
      margin-top: 6rem;
      background-color: #C8C8C8;

      @include respond(phone) {
        margin-top: 4rem;
        width: 36rem;
        height: 28rem;
      }
    }

    &-9 {
      margin-top: 2.5rem;
      
      &-btn {
        width: 20rem;
        height: 5rem;
        background-color: #F06F04;
        border-radius: 2rem;
        border: .5rem solid white;
        margin-top: 5rem;
        font-size: 2rem;
        letter-spacing: .1rem;
        line-height: 4rem;
        text-align: center;
        color: white;
        cursor: pointer;
        box-shadow: .5rem 1rem 1rem rgba(black, .2);

        &:hover {
          background-color: #FF8622;
        }

        &:active {
          box-shadow: none;
        }

        @include respond(phone) {
          margin: 3rem auto 0;
        }
      }
    }

    &-10 {
      margin: 8rem auto;
      width: 1220px;
      border-top: .3rem solid;
      color: #BDBDBD;

      @include respond(phone) {
        margin: 6rem auto;
        width: 32rem;
      }
    }

    &-11 {
      width: 86rem;
      height: 35rem;
      margin-top: 8rem;
      background-color: #C8C8C8;

      @include respond(phone) {
        width: 36rem;
        height: 28rem;
        margin-top: 6rem;
      }
    }

    &-12 {
      width: 66.7rem;
      text-align: center;
      margin-top: 6rem;

      @include respond(phone) {
        width: 26.3rem;
        text-align: left;
        margin-top: 4rem;
      }

      & p {
        font-size: 3rem;
        letter-spacing: .1rem;
        color: #5E3F15;

        @include respond(phone) {
          font-size: 2.6rem;
          line-height: 4rem;
        }
      }
    }

    &-13 {
      width: 70rem;
      text-align: left;
      margin-top: 4rem;

      @include respond(phone) {
        width: 31.2rem;
      }
      
      & p {
        font-weight: 700;
        color: #5E3F15;
        font-size: 1.8rem;
        line-height: 3.5rem;
      }
    }

    &-14 {
      margin: 8rem auto 0;
      width: 1220px;
      border-top: .3rem solid;
      color: #BDBDBD;

      @include respond(phone) {
        width: 32rem;
        margin: 6rem auto 0;
      }
    }

    &-15 {
      width: 86rem;
      height: 15rem;
      margin-top: 10rem;

      @include respond(phone) {
        width: 100vw;
        height: 35rem;
        margin-top: 8rem;
      }

      &-cube {
        margin: auto;
        width: 14rem;
        height: 14rem;
        background-color: #C8C8C8;
        float: left;

        @include respond(phone) {
          float: none;
          width: 12rem;
          height: 12rem;
        }
      }

      &-text-box {
        background-color: white;
        width: 68rem;
        height: 15rem;
        border: .3rem solid #86663C;
        border-radius: 1rem;
        float: right;
        padding: 2.5rem 4rem;
        margin-top: -.5rem;

        @include respond(phone) {
          float: none;
          width: 34rem;
          height: 23rem;
          margin: 3rem auto 0;
          padding: 3.3rem 2.6rem;
        }

        & p {
          font-weight: 700;
          width: 60rem;
          height: 10rem;
          font-size: 2.4rem;
          line-height: 3.3rem;
          text-align: left;
          color: #5E3F15;
          
          @include respond(phone) {
            width: 28.8rem;
            font-size: 2.2rem;
            line-height: 3.2rem;
          }
        }
      }
    }

    &-16 {
      width: 86rem;
      height: 35rem;
      background-color: #C8C8C8;
      margin-top: 6rem;

      @include respond(phone) {
        margin-top: 6.5rem;
        width: 36rem;
        height: 58rem;
      }
    }

    &-17 {
      width: 80rem;
      text-align: left;
      margin-top: 6rem;

      @include respond(phone) {
        width: 29.8rem;
        margin-top: 4rem;
      }

      & p {
        font-size: 3rem;
        letter-spacing: .1rem;
        color: #5E3F15;
        
        @include respond(phone) {
          font-size: 2.6rem;
          line-height: 4rem;
        }
      }
    }

    &-18 {
      width: 70rem;
      text-align: left;
      margin-top: 4rem;

      @include respond(phone) {
        width: 31.2rem;
      }
      
      & p {
        color: #5E3F15;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.5rem;
      }
    }

    &-19 {
      width: 100vw;
      height: 82.5rem;
      margin-top: 8rem;
      background-color: #9DDDE3;

      &-title {
        width: 66.7rem;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto;

        @include respond(phone) {
          width: 26.3rem;
          text-align: left;
        }

        & p {
          font-size: 3rem;
          letter-spacing: .1rem;
          color: #333333;

          @include respond(phone) {
            font-size: 2.6rem;
            line-height: 4rem;
          }
        }
      } 
      
      &-text {
        width: 70rem;
        text-align: left;
        margin: 4rem auto 0;

        @include respond(phone) {
          width: 31.2rem;
        }

        & p {
          font-weight: 700;
          color: #333333;
          font-size: 1.8rem;
          line-height: 3.5rem;
        }
      }

      &-video {
        width: 65rem;
        height: 36.5rem;
        background-color: #C8C8C8;
        color: black;
        margin: 6rem auto 0;

        @include respond(phone) {
          margin: 4rem auto 0;
          width: 36rem;
          height: 20.2rem;
        }
      }
    }

    &-20 {
      width: 100vw;
      height: 25rem;
      background-color: #1DAEDF;
      position: relative;

      @include respond(phone) {
        margin-top: -10rem;
      }

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 49.9rem;
        height: 10rem;
        margin: auto;

        @include respond(phone) {
          width: 29.7rem;
          height: 15rem;
          margin: auto;
        }

        &-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left;

          @include respond(phone) {
            float: none;
            width: 8rem;
            height: 8rem;
            margin: 0 auto;
          }
        }
  
        &-text {
          width: 36.9rem;
          height: 10rem;
          float: right;

          @include respond(phone) {
            float: none;
            width: 29.7rem;
            height: 4rem;
          }

          & p {
            font-size: 4rem;
            letter-spacing: .1rem;
            text-align: center;
            line-height: 10rem; 
            color: white;

            @include respond(phone) {
              height: 4rem;
              font-size: 3.2rem;
            }
          }
        }
      }
    }

    &-21 {
      width: 74.4rem;
      text-align: left;
      margin-top: 10rem;

      @include respond(phone) {
        margin-top: 8rem;
        width: 32.4rem;
      }

      & p {
        color: #5E3F15;
        font-size: 3rem;
        letter-spacing: .1rem;

        @include respond(phone) {
          font-size: 2.6rem;
          line-height: 4rem;
        }
      }
    }

    &-22 {
      width: 86rem;
      height: 50rem;
      background-color: #C8C8C8;
      margin-top: 6rem;

      @include respond(phone) {
        margin-top: 4rem;
        width: 36rem;
        height: 58rem;
      }
    }

    &-23 {
      width: 70rem;
      text-align: left;
      margin-top: 6rem;

      @include respond(phone) {
        margin-top: 4rem;
        width: 31.2rem;
      }
      
      & p {
        color: #5E3F15;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.5rem;

        @include respond(phone) {
          font-size: 2rem;
          line-height: 3.4rem;
        }
      }
    }

    &-24 {
      margin: 8rem auto 0;
      width: 1220px;
      border-top: .3rem solid;
      color: #BDBDBD;

      @include respond(phone) {
        width: 32rem;
        margin: 6rem auto 0;
      }
    }

    &-25 {
      width: 63.4rem;
      text-align: left;
      margin-top: 10rem;

      @include respond(phone) {
        width: 31.4rem;
        margin-top: 8rem;
      }

      & p {
        color: #5E3F15;
        font-size: 3rem;
        letter-spacing: .1rem;

        @include respond(phone) {
          font-size: 2.6rem;
          line-height: 4rem;
        }
      }
    }

    &-26 {
      width: 86rem;
      height: 50rem;
      background-color: #C8C8C8;
      margin-top: 6rem;

      @include respond(phone) {
        width: 36rem;
        height: 58rem;
        margin-top: 4rem;
      }
    }

    &-27 {
      width: 70rem;
      text-align: left;
      margin-top: 6rem;

      @include respond(phone) {
        width: 31.2rem;
        margin-top: 4rem;
      }
      
      & p {
        color: #5E3F15;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.5rem;

        @include respond(phone) {
          font-size: 2rem;
          line-height: 3.4rem;
        }
      }
    }

    &-28 {
      width: 100vw;
      height: 25rem;
      background-color: #1DAEDF;
      margin-top: 10rem;
      position: relative;

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 49.9rem;
        height: 10rem;
        margin: auto;

        @include respond(phone) {
          width: 29.7rem;
          height: 15rem;
          margin: auto;
        }

        &-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left;

          @include respond(phone) {
            float: none;
            width: 8rem;
            height: 8rem;
            margin: 0 auto;
          }
        }
  
        &-text {
          width: 36.9rem;
          height: 10rem;
          float: right;

          @include respond(phone) {
            float: none;
            width: 29.7rem;
            height: 4rem;
          }

          & p {
            font-size: 4rem;
            letter-spacing: .1rem;
            text-align: center;
            line-height: 10rem; 
            color: white;

            @include respond(phone) {
              height: 4rem;
              font-size: 3.2rem;
            }
          }
        }
      }
    }

    &-29 {
      width: 67.4rem;
      text-align: center;
      margin-top: 10rem;

      @include respond(phone) {
        width: 32.7rem;
        text-align: left;
        margin-top: 8rem;
      }

      & p {
        color: #5E3F15;
        font-size: 3rem;
        letter-spacing: .1rem;

        @include respond(phone) {
          font-size: 2.6rem;
          line-height: 4rem;
        }
      }
    }

    &-30 {
      width: 52.5rem;
      text-align: left;
      margin-top: 6rem;

      @include respond(phone) {
        width: 20.8rem;
        text-align: center;
        margin-top: 4.4rem;
      }

      & p {
        color: #5E3F15;
        font-size: 2.5rem;

        @include respond(phone) {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
      }
    }

    &-31 {
      width: 49.6rem;
      text-align: left;
      margin-top: 1.5rem;

      @include respond(phone) {
        width: 25.8rem;
        text-align: center;
        margin-top: 1.6rem;
      }

      & p {
        font-size: 1.6rem;
        color: #828282;

        @include respond(phone) {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
      }
    }

    &-32 {
      width: 86rem;
      height: 19.9rem;
      background-color: #C8C8C8;
      margin-top: 4rem;

      @include respond(phone) {
        width: 15rem;
        height: 45rem;
      }
    }

    &-33 {
      margin-top: 5rem;

      &-btn {
        width: 17rem;
        height: 5rem;
        background-color: #C8C8C8;
        color: black;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
        line-height: 5rem;
        cursor: pointer;
      }

      &__two_col {
        width: 36rem;
        height: 50rem;
  
        &-left {
          margin: 0;
          width: 15rem;
          height: 45rem;
          float: left;
        }
  
        &-right {
          margin-top: 4rem;
          width: 20rem;
          height: 45rem;
          float: right;

          &-btn {
            margin: 0 auto 3rem;
            width: 14.4rem;
            height: 4rem;
            color: white;
            text-align: center;
            line-height: 3.4rem;
            box-shadow: .5rem 1rem 1rem rgba(black, .2);
            border-radius: 2rem;
            border: .3rem solid white;

            &:active {
              box-shadow: none;
            }
  
            &-1 {
              background-color: #007AA5;

              &:hover {
                background-color: #009DBB;
              }
            }
  
            &-2 {
              background-color: #009DBB;

              &:hover {
                background-color: #00B9D9;
              }
            }
  
            &-3 {
              background-color: #00B9D9;

              &:hover {
                background-color: #54D0DD;
              }
            }
  
            &-4 {
              background-color: #54D0DD;
  
              &:hover {
                background-color: #85E0EA;
              }
            }
          }
        }
      }
    }

    &-33-1 {
      width: 20rem;
      height: 2.4rem;
      padding-bottom: 4rem;
      font-size: 1.7rem;
      line-height: 2.4rem;
      color: #86663C;

      & span {
        & ion-icon {
          font-size: 5.5rem;
          transform: translateY(2.25rem);
        }
      }
    }

    &-34 {
      width: 86rem;
      height: 40rem;
      background-color: #C8C8C8;
      margin-top: 6rem;

      @include respond(phone) {
        width: 36rem;
        height: 25rem;
      }
    }

    &-35 {
      width: 70rem;
      text-align: left;
      margin-top: 6rem;

      @include respond(phone) {
        width: 31.2rem;
        text-align: left;
        margin-top: 3rem;
      }
      
      & p {
        color: #5E3F15;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.5rem;
      }
    }

    &-36 {
      margin: 8rem auto 0;
      width: 1220px;
      border-top: .3rem solid;
      color: #BDBDBD;

      @include respond(phone) {
        width: 32rem;
        margin: 6rem auto 0;
      }
    }

    &-37 {
      width: 67.4rem;
      text-align: center;
      margin-top: 10rem;

      @include respond(phone) {
        width: 31.1rem;
        text-align: left;
        margin-top: 8rem;
      }

      & p {
        font-size: 3rem;
        letter-spacing: .1rem;
        color: #5E3F15;

        @include respond(phone) {
          font-size: 2.6rem;
          line-height: 4rem;
        }
      }
    }

    &-38 {
      width: 82.5rem;
      text-align: center;
      margin-top: 6rem;

      @include respond(phone) {
        width: 30.4rem;
        margin-top: 4rem;
      }

      & p {
        color: #5E3F15;
        font-size: 2.2rem;

        @include respond(phone) {
          font-size: 1.6rem;
          line-height: 2.5rem;
        }
      }
    }

    &-39 {
      width: 49.6rem;
      text-align: center;
      margin-top: 1.5rem;

      @include respond(phone) {
        width: 25.8rem;
      }

      & p {
        font-size: 1.6rem;
        color: #828282;

        @include respond(phone) {
          font-size: 1.4rem;
          line-height: 2.1rem;
        }
      }
    }

    &-40 {
      margin-top: 4rem;

      &-img {
        width: 17rem;
        height: 19.9rem;
        background-color: #C8C8C8;
      }
    }

    &-41 {
      margin-top: 5rem;

      &-btn {
        width: 17rem;
        height: 5rem;
        background-color: #FF8622;
        color: black;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
        line-height: 4.4rem;
        cursor: pointer;
        box-shadow: .5rem 1rem 1rem rgba(black, .2);
        border-radius: 2rem;
        border: .3rem solid white;
        color: white;

        &:active {
          box-shadow: none;
        }

        &:hover {
          background-color: #FFA55A;
        }
      }
    }

    &-41-1 {
      width: 32rem;
      height: 44rem;

      @include respond(phone) {
        height: 48rem;
      }

      &-row-2 {
        width: 32rem;
        height: 20rem;
        margin: 2rem auto 0;

        &-left {
          float: left;
        }

        &-right {
          float: right;
        }
      }

      &-img__btn {
        width: 14.4rem;
        height: 20rem;

        &-img {
          width: 14.4rem;
          height: 16rem;
          background-color: grey;
        }

        &-btn {
          width: 14.4rem;
          height: 4rem;
          box-shadow: .5rem 1rem 1rem rgba(black, .2);
          border-radius: 1rem;
          border: .3rem solid white;
          line-height: 3.4rem;
          color: white;
          background-color: #FF8622;
          text-align: center;
          font-size: 1.8rem;
          letter-spacing: .09rem;

          &:active {
            box-shadow: none;
          }

          &:hover {
            background-color: #FFA55A;
          }
        }
      }
    }

    &-41-2 {
      width: 20rem;
      height: 2.4rem;
      padding-bottom: 4rem;
      font-size: 1.7rem;
      line-height: 2.4rem;
      color: #86663C;
      margin-bottom: 4rem;

      & span {
        & ion-icon {
          font-size: 5.5rem;
          transform: translateY(2.25rem);
        }
      }
    }

    &-42 {
      width: 86rem;
      height: 40rem;
      background-color: #C8C8C8;
      margin-top: 6rem;

      @include respond(phone) {
        width: 36rem;
        height: 40rem;
      }
    }

    &-43 {
      width: 70rem;
      text-align: left;
      margin-top: 6rem;

      @include respond(phone) {
        width: 31.2rem;
        margin-top: 4rem;
      }
      
      & p {
        color: #5E3F15;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.5rem;
        
      }
    }

    &-44 {
      margin: 8rem auto 0;
      width: 1220px;
      border-top: .3rem solid;
      color: #BDBDBD;

      @include respond(phone) {
        margin: 6rem auto 0;
        width: 32rem;
      }
    }

    &-45 {
      width: 86rem;
      height: 15rem;
      margin-top: 10rem;

      @include respond(phone) {
        width: 100vw;
        height: 35rem;
        margin: 8rem auto;
      }

      &-cube {
        margin: auto;
        width: 14rem;
        height: 14rem;
        background-color: #C8C8C8;
        float: left;

        @include respond(phone) {
          float: none;
          width: 12rem;
          height: 12rem;
        }
      }

      &-text-box {
        background-color: white;
        width: 68rem;
        height: 15rem;
        border: .3rem solid #86663C;
        border-radius: 1rem;
        float: right;
        padding: 2.5rem 4rem;
        margin-top: -.5rem;

        @include respond(phone) {
          float: none;
          width: 34rem;
          height: 25rem;
          margin: 3rem auto 0;
          padding: 3.3rem 2.6rem 2.8rem;
        }

        & p {
          width: 60rem;
          font-size: 2.4rem;
          line-height: 3.3rem;
          text-align: left;
          color: #5E3F15;
          
          @include respond(phone) {
            width: 28.8rem;
            font-size: 2.2rem;
            line-height: 3.2rem;
          }
        }
      }
    }

    &-46 {
      width: 86rem;
      height: 45rem;
      background-color: #C8C8C8;
      margin-top: 6rem;

      @include respond(phone) {
        width: 36rem;
        height: 58rem;
      }
    }

    &-47 {
      width: 65.8rem;
      text-align: center;
      margin-top: 6rem;

      @include respond(phone) {
        width: 29.8rem;
        text-align: left;
      }

      & p {
        color: #5E3F15;
        font-size: 3rem;
        letter-spacing: .1rem;

        @include respond(phone) {
          font-size: 2.6rem;
          line-height: 4rem;
        }
      }
    }

    &-48 {
      width: 70rem;
      text-align: left;
      margin-top: 4rem;

      @include respond(phone) {
        width: 31.2rem;
      }
      
      & p {
        color: #5E3F15;
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: .1rem;
        line-height: 3.5rem;

        @include respond(phone) {
          letter-spacing: 0;
        }
      }
    }

    &-49 {
      width: 100vw;
      height: 82.5rem;
      margin-top: 8rem;
      background-color: #9DDDE3;

      &-title {
        width: 75rem;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto;

        @include respond(phone) {
          width: 25.2rem;
          text-align: left;
          padding-top: 7.6rem;
        }

        & p {
          color: #333333;
          font-size: 3rem;
          letter-spacing: .1rem;

          @include respond(phone) {
            font-size: 2.6rem;
            line-height: 4rem;
          }
        }
      } 
      
      &-text {
        width: 70rem;
        text-align: left;
        margin: 4rem auto 0;

        @include respond(phone) {
          margin: 2rem auto 0;
          width: 31.2rem;
        }

        & p {
          color: #333333;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 3.5rem;

          @include respond(phone) {
            letter-spacing: .1rem;
          }
        }
      }

      &-video {
        width: 65rem;
        height: 36.5rem;
        background-color: #C8C8C8;
        color: black;
        margin: 6rem auto 0;

        @include respond(phone) {
          margin: 4rem auto 0;
          width: 36rem;
          height: 20.2rem;
        }
      }
    }

    &-50 {
      width: 100vw;
      height: 25rem;
      background-color: #1DAEDF;
      position: relative;

      @include respond(phone) {
        margin-top: -10rem;
      }

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 59rem;
        height: 10rem;
        margin: auto;

        @include respond(phone) {
          width: 29.7rem;
          height: 15rem;
          margin: auto;
        }

        &-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left;

          @include respond(phone) {
            float: none;
            width: 8rem;
            height: 8rem;
            margin: 0 auto;
          }
        }
  
        &-text {
          width: 46rem;
          height: 10rem;
          float: right;

          @include respond(phone) {
            float: none;
            width: 33rem;
            height: 4rem;
          }

          & p {
            font-size: 4rem;
            letter-spacing: .1rem;
            text-align: left;
            line-height: 10rem; 
            color: white;

            @include respond(phone) {
              height: 3.9rem;
              font-size: 2.6rem;
            }
          }
        }
      }
    }

    &-51 {
      width: 100vw;
      height: 99rem;
      background-color: #F2F2F2;

      @include respond(phone) {
        height: 111rem;
      }

      &-content {
        width: 86rem;
        height: 15rem;
        padding-top: 10rem;
        margin: 0 auto;

        @include respond(phone) {
          width: 100vw;
          height: 35rem;
          margin: 0 auto;
          padding-top: 8rem;
        }

        &-cube {
          margin: auto;
          width: 14rem;
          height: 14rem;
          background-color: #C8C8C8;
          float: left;

          @include respond(phone) {
            float: none;
            width: 12rem;
            height: 12rem;
          }
        }

        &-text-box {
          background-color: white;
          width: 70rem;
          height: 15rem;
          border: .3rem solid #86663C;
          border-radius: 1rem;
          float: right;
          padding: 2rem 3.5rem;
          margin-top: -.5rem;

          @include respond(phone) {
            float: none;
            width: 34rem;
            height: 20rem;
            margin: 3rem auto 0;
            padding: 3.3rem 2.6rem;
          }

          &-text {
            width: 60rem;
            height: 10rem;
          }

          & p {
            font-size: 2.4rem;
            text-align: left;
            color: #5E3F15;

            @include respond(phone) {
              width: 28.8rem;
              font-size: 2.2rem;
              line-height: 3.2rem;
            }
          }
        }
      }

      &-img {
        width: 86rem;
        height: 60rem;
        background-color: #C8C8C8;
        margin: 16rem auto 0;

        @include respond(phone) {
          margin: 12rem auto 0;
          width: 36rem;
          height: 58rem;
        }
      }
    }

    &-52 {
      width: 75rem;
      text-align: center;
      margin-top: 10rem;

      @include respond(phone) {
        width: 29.8rem;
        margin-top: 8rem;
      }

      & p {
        color: #5E3F15;
        font-size: 3rem;
        letter-spacing: .1rem;
      }
    }

    &-53 {
      width: 70rem;
      text-align: left;
      margin-top: 4rem;

      @include respond(phone) {
        width: 31.2rem;
        margin-top: 2rem;
      }
      
      & p {
        color: #5E3F15;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 3.5rem;
      }
    }

    &-54 {
      width: 100vw;
      height: 101.7rem;
      margin-top: 8rem;
      background-color: #9DDDE3;

      @include respond(phone) {
        height: 77.6rem;
      }

      &-title {
        width: 55.8rem;
        text-align: left;
        padding-top: 10rem;
        margin: 0 auto;

        @include respond(phone) {
          width: 28.8rem;
          padding-top: 8rem;
        }

        & p {
          color: #333333;
          font-size: 3rem;
          letter-spacing: .1rem;

          @include respond(phone) {
            font-size: 2.6rem;
            line-height: 4rem;
          }
        }
      } 
      
      &-text {
        width: 70rem;
        text-align: left;
        margin: 4rem auto 0;

        @include respond(phone) {
          width: 31.2rem;
          margin: 2rem auto 0;
        }

        & p {
          color: #333333;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 3.5rem;
        }
      }

      &-video-grid {
        width: 111rem;
        height: 42.2rem;
        color: black;
        margin: 6rem auto 0;

        display: grid;
        grid-template-columns: 35rem 35rem 35rem;
        grid-gap: 3rem;

        &-img {
          background-color: #BDBDBD;
        }
      }

      &-video-slides {
        margin-top: 4rem;
        text-align: center;

        &-window {
          margin: 0 auto;
          width: 37rem;

          &-left {
            width: 2.5rem;
            height: 5rem;
            background-image: url('./img/left.png');
            float: left;
            margin: 0 .75rem;
            transform: translateY(100%);
          }
  
          &-right {
            width: 2.5rem;
            height: 5rem;
            background-image: url('./img/right.png');
            float: right;
            margin-right: 1.25rem;
            transform: translateY(100%);
          }
  
          &-img {
            width: 29rem;
            height: 16.2rem;
            background-color: grey;
            margin: 0 auto;
            display: inline-block;
          }
        }

        &-dot {
          &-group {
            width: 15rem;
            height: 1rem; 
            margin-top: 2rem;
            display: inline-block;
          }

          width: 1rem;
          height: 1rem;          
          border-radius: 50%;
          background-color: white;
          display: inline-block;
          margin-right: 1rem;
        }
      }
    }

    &-55 {
      width: 100vw;
      height: 134.8rem;
      color: #5E3F15;

      @include respond(phone) {
        height: 118.2rem;
      }

      &-title {
        width: 66.7rem;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto;

        @include respond(phone) {
          width: 33.6rem;
          padding-top: 8rem;
        }

        & p {
          color: #5E3F15;
          font-size: 3rem;
          letter-spacing: .1rem;

          @include respond(phone) {
            font-size: 3.2rem;
            line-height: 4rem;
          }
        }
      } 
      
      &-text {
        width: 70rem;
        text-align: center;
        margin: 4rem auto 0;

        @include respond(phone) {
          width: 31.2rem;
          text-align: left;
          margin: 2rem auto 0;
        }

        & p {
          color: #5E3F15;
          font-size: 2.2rem;
          letter-spacing: .1rem;

          @include respond(phone) {
            font-size: 2rem;
            line-height: 3.4rem;
            letter-spacing: 0;
          }
        }
      }

      &-grid {
        width: 116.2rem;
        height: 86.5rem;
        color: black;
        margin: 6rem auto 0;

        display: grid;
        grid-template-columns: 54.1rem 54.1rem;
        grid-template-rows: 23.5rem 23.5rem 23.5rem;
        grid-gap: 8rem;

        @include respond(phone) {
          display: block;
          width: 100vw;
        }

        &-person {

          @include respond(phone) {
            width: 31.2rem;
            height: 11.4rem;
            margin: 5rem auto 0;
          }

          &-left {
            width: 18rem;
            height: 18rem;
            border-radius: 50%;
            background-color: grey;
            float: left;

            @include respond(phone) {
              width: 8rem;
              height: 8rem;
              transform: translateY(2rem);
            }
          }

          &-right {
            float: right;
            width: 33.1rem;

            @include respond(phone) {
              width: 21.7rem;
            }

            &-span {
              &-1 {
                color: #5E3F15;
                font-size: 3rem;

                @include respond(phone) {
                  font-size: 2.2rem;
                }
              }

              &-2 {
                color: #5E3F15;
                font-size: 2rem;

                @include respond(phone) {
                  font-size: 1.6rem;
                }
              }
            }

            &-text {
              color: #5E3F15;
              font-size: 2rem;
              margin: 2rem 0 3rem 0;

              @include respond(phone) {
                font-size: 1.5rem;
                margin: 1rem 0 0;
              }
            }

            &-btn {
              width: 16.6rem;
              height: 4.1rem;
              background-color: #1DAEDF;
              color: white;
              border-radius: 2rem;
              font-size: 2rem;
              text-align: center;
              line-height: 4.1rem;
              cursor: pointer;

              &:hover {
                background-color: #71D8E1;
              }

              @include respond(phone) {
                width: 10.2rem;
                height: 2.5rem;
                font-size: 1.4rem;
                line-height: 2.5rem;
                margin-top: 1rem;
              }
            }
          }
        }
      }
    }

    &-57 {
      width: 100vw;
      height: 67.3rem;
      background-color: #F06F04;
      color: white;

      @include respond(phone) {
        height: 88rem;
      }

      &-content {
        width: 78rem;
        height: 15rem;
        padding-top: 10rem;
        margin: 0 auto;
        
        @include respond(phone) {
          width: 100vw;
          height: 28rem;
          margin: 0 auto;
          padding-top: 8rem;
        }

        &-cube {
          margin: auto;
          width: 14rem;
          height: 14rem;
          background-color: #C8C8C8;
          float: left;

          @include respond(phone) {
            float: none;
            width: 12rem;
            height: 12rem;
          }
        }

        &-text-box {
          width: 60rem;
          height: 10rem;
          border: .4rem solid #86663C;
          background-color: white;
          border-radius: 4rem;
          float: right;
          padding: 3rem 3.8rem;
          margin-top: 15px;

          @include respond(phone) {
            float: none;
            width: 34rem;
            height: 13rem;
            margin: 3rem auto 0;
            padding: 2.9rem 2.6rem;
          }

          & p {
            width: 55rem;
            font-size: 2.8rem;
            letter-spacing: .1rem;
            text-align: left;
            font-weight: 500;
            color: #5E3F15;

            @include respond(phone) {
              width: 28.8rem;
              font-size: 2.4rem;
              line-height: 3.5rem;
            }
          }
        }
      }
      
      &-text {
        width: 75rem;
        text-align: left;
        margin: 13rem auto 0;

        @include respond(phone) {
          width: 30.5rem;
          margin: 12rem auto 0;
        }

        & p {
          font-size: 2.2rem;
          line-height: 3.5rem;
          letter-spacing: .1rem;

          @include respond(phone) {
            font-size: 2rem;
            letter-spacing: .091rem;
          }
        }
      }

      &-btn {
        cursor: pointer;
        width: 25rem;
        height: 7rem;
        text-align: center;
        line-height: 6rem;
        background-color: #F2BB74;
        margin: 5.7rem auto 0;
        color: #5E3F15;
        font-size: 2.8rem;
        letter-spacing: .1rem;
        box-shadow: .5rem 1rem 1rem rgba(black, .2);
        border-radius: 2rem;
        border: .5rem solid white;

        &:hover {
          background-color: #F4C88E;
        }

        &:active {
          box-shadow: none;
        }

        @include respond(phone) {
          margin: 4rem auto 0;
          width: 25.5rem;
        }
      }
    }

    &-58 {
      width: 100vw;
      height: 80rem;
      background-color: #FFF5D8;
      padding: 10rem 0;
      text-align: center;

      &-pic {
        width: 75rem;
        height: 40.9rem;
        background-color: #C8C8C8;
        margin: 0 auto;

        @include respond(phone) {
          width: 36rem;
          height: 40.9rem;
        }
      }

      &-share {
        font-size: 3rem;
        line-height: 4.2rem;
        letter-spacing: .12rem;
        color: #5E3F15;
        margin-top: 6rem;

        @include respond(phone) {
          font-size: 2.4rem;
          line-height: 3.4rem;
          letter-spacing: .096rem;
          margin-top: 5rem;
        }
      }

      &-btn {
        cursor: pointer;
        width: 25rem;
        height: 7rem;
        border-radius: 2rem;
        border: .5rem solid white;
        text-align: center;
        line-height: 6rem;
        background-color: #F06F04;
        margin: 3rem auto 0;
        color: white;
        font-size: 3rem;
        letter-spacing: .1rem;
        box-shadow: .5rem 1rem 1rem rgba(black, .2);

        &:hover {
          background-color: #FF8622;
        }

        &:active {
          box-shadow: none;
        }

        @include respond(phone) {
          margin: 2rem auto 0;
        }
      }
    }

    &-59 {
      width: 100vw;
      height: 65rem;
      background-color: #1DAEDF;
      padding-top: 6rem;

      @include respond(phone) {
        height: 66.1rem;
        padding-top: 4rem;
      }
      
      &-pic {
        width: 25rem;
        height: 22rem;
        margin: 0 auto;
        background-image: url('./img/logo-02.png');
      }

      &-icon {
        font-size: 5rem;
        color: white;
        text-align: center;

        & ion-icon {
          background-color: transparent;
          cursor: pointer;
        }

        & :not(:last-child) {
          margin-right: 4rem;
        }
      }

      &-line {
        text-align: center;
        width: 56rem;
        border-top: .3rem solid #6DD5F9;
        margin: 2rem auto;

        @include respond(phone) {
          width: 32rem;
        }
      }

      &-name {
        width: 44rem;
      }

      &-textbox {
        font-size: 2rem;
        line-height: 2.2rem;
        color: white;
        margin: 0;
        padding: 0;
        text-align: center;
      }

      &-text {
        color: white;
        text-align: center;

        &-1 {
          font-size: 2rem;
          margin-bottom: 8rem;
        }

        &-2 {
          font-size: 1.8rem;

          @include respond(phone) {
            text-align: left;
            width: 31.2rem;
            font-size: 1.6rem;
            margin: 5rem 2.4rem 0;
          }
        }
      }

      &-row {
        width: 30.2rem;
        height: 4.8rem;
        margin: 0 auto 2rem;
        color: white;
        font-size: 2rem;
        line-height: 2.2rem;

        &-left {
          float: left;
          width: 12rem;
          height: 4.8;
        }

        &-right {
          float: right;
          width: 16.2rem;
          height: 4.8;
        }
      }
    }

    &-60 {
      
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      background-color: rgba($color-black, .5);

      &__content {

        margin: auto;
        width: 75rem;
        height: 43.3rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        background-color: #FFF5C5;

        @include respond(phone) {
          width: 36rem;
          height: 64rem;
        }

        &-text {
          margin: 6.9rem auto 0;
          width: 31.2rem;
          height: 4rem;
          line-height: 4rem;
          color: #5E3F15;
          font-weight: 700;
          font-size: 3rem;
          letter-spacing: .12rem;

          @include respond(phone) {
            width: 26rem;
            font-size: 2.5rem;
            letter-spacing: .1rem;
            margin: 15.9rem auto 0;
          }
        }
  
        &-close {
          position: absolute;
          top: 1.5rem;
          left: 67.5rem;
          background-color: #FF8622;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          text-align: center;
          font-size: 5rem;
          color: white;
          line-height: 5rem;
          margin: 0;
          padding: 0;
          cursor: pointer;
  
          @include respond(phone) {
            top: 1.5rem;
            left: 29.5rem;
          }
        }
  
        &-row-icon {
          //@include absCenter;
          width: 26rem;
          height: 10rem;
          margin: 4rem auto 0;

          @include respond(phone) {
            width: 20rem;
            height: 7.6rem;
            margin: 3.3rem auto 0;
          }
  
          &-line {
            width: 10rem;
            height: 10rem;
            float: right;
            cursor: pointer;

            @include respond(phone) {
              width: 7.6rem;
              height: 7.6rem;
            }
          }
  
          &-fb {
            width: 10rem;
            height: 10rem;
            float: left;
            cursor: pointer;

            @include respond(phone) {
              width: 7.6rem;
              height: 7.6rem;
            }
          }
        }
  
        &-row-copied {
          width: 58rem;
          height: 7rem;
          margin: 5rem auto 0;

          @include respond(phone) {
            width: 32.7rem;
            height: 5.8rem;
            margin: 5.3rem auto 0;
          }
  
          &-input {
            width: 38.8rem;
            height: 7rem;
            background-color: white;
            font-size: 2.8rem;
            letter-spacing: .1rem;
            padding: 1.7rem 1rem 1.4rem 4rem;
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 2rem;

            @include respond(phone) {
              width: 18.5rem;
              height: 5.8rem;
              font-size: 1.5rem;
              letter-spacing: .054rem;
              padding: 1.7rem 1rem 1.7rem 2.3rem;
            }
          }
  
          &-btn {
            width: 19.2rem;
            height: 7rem;
            background-color: #F06F04;
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
            color: white;
            line-height: 7rem;
            text-align: center;
            font-size: 2.8rem;
            letter-spacing: .1rem;
            cursor: pointer;

            @include respond(phone) {
              width: 14.2rem;
              height: 5.8rem;
              font-size: 1.9rem;
              letter-spacing: .068rem;
              line-height: 5.8rem;
            }
          }
        }
      }
    }

    &-61 {
      height: 100vh;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 9999;
      background-color: rgba($color-black, .5);

      &__content {
        width: 100rem;
        height: 80rem;
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 15rem 0 17rem 0;
        z-index: 10;
        background-color: #FFF5C5;

        @include respond(phone) {
          width: 36rem;
          height: 66.7rem;
          padding: 10rem 2.4rem;
          top: 0;
        }

        &-close {
          position: absolute;
          top: 3rem;
          left: 91.2rem;
          background-color: #F06F04;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          text-align: center;
          font-size: 5rem;
          color: white;
          line-height: 5rem;
          margin: 0;
          padding: 0;
          cursor: pointer;

          @include respond(phone) {
            top: 2rem;
            left: 28.5rem;
          }
        }

        &-text {
          width: 75rem;

          @include respond(phone) {
            width: 31.2rem;
            height: 100%;
            overflow: scroll;
          }
        }
        
        & p {
          display: inline-block;
          font-size: 1.8rem;
          line-height: 3.5rem;
          color: #5E3F15;
          font-weight: 700;
        }

        & span {
          font-size: 1.8rem;
          line-height: 3.5rem;
          color: #F06F04;
          cursor: pointer;
        }
      }
    }
  }
}