.page {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Arial";

  &__block {
    top: 0;
    left: 0;
    margin: 0 auto;

    &-1 {
      width: 513px;
      text-align: center;
      padding-top: 100px;
      & h1 {
        font-size: 64px;
      }

      & h2 {
        font-size: 40px;
      }
    }

    &-2 {
      width: 750px;
      height: 300px;
      background-color: grey; 
      margin-top: 60px;
    }

    &-3 {
      width: 750px;
      font-size: 25px;
      padding: 0;
      margin-top: 60px;
    }

    &-4 {
      width: 200px;
      height: 50px;
      background-color: #C8C8C8;
      border-radius: 10px;
      margin-top: 50px;

      &-btn {
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
    }

    &-5 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      margin-top: 100px;
      position: relative;

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 370px;
        height: 100px;
        margin: auto;

        &-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left;
        }
  
        &-text {
          width: 270px;
          height: 100px;
          float: right;

          & p {
            font-size: 40px;
            text-align: center;
            line-height: 100px; 
            color: white;
          }
        }
      }
    }

    &-6 {
      width: 1000px;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 150px 0 170px 0;
      //margin-bottom: 170px;
      z-index: 10;
      background-color: white;
      overflow: scroll;

      &-close {
        position: absolute;
        top: 16px;
        left: 914px;
        background-color: #C8C8C8;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        font-size: 50px;
        color: #828282;
        line-height: 50px;
        margin: 0;
        padding: 0;
        cursor: pointer;
      }

      &-text {
        width: 750px;
      }
      
      & p {
        font-size: 25px;
      }
    }

    &-7 {
      width: 860px;
      height: 150px;
      margin-top: 100px;

      &-cube {
        margin: auto;
        width: 140px;
        height: 140px;
        background-color: #C8C8C8;
        float: left;
      }

      &-text-box {
        width: 680px;
        height: 150px;
        border: 3px solid;
        border-radius: 10px;
        float: right;
        padding: 25px 40px;

        &-text {
          width: 600px;
          height: 100px;
        }

        & p {
          font-size: 26px;
          text-align: left;
        }
      }
    }

    &-8 {
      width: 860px;
      height: 350px;
      margin-top: 60px;
      background-color: #C8C8C8;
    }

    &-9 {
      margin-top: 60px;

      &-btn {
        width: 200px;
        height: 60px;
        background-color: #C8C8C8;
        color: black;
        border-radius: 10px;
        font-size: 24px;
        text-align: center;
        line-height: 60px;
        cursor: pointer;
      }
    }

    &-10 {
      margin: 80px auto;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD;
    }

    &-11 {
      width: 860px;
      height: 350px;
      margin-top: 80px;
      background-color: #C8C8C8;
    }

    &-12 {
      width: 667px;
      text-align: center;
      margin-top: 60px;

      & p {
        font-size: 37px;
      }
    }

    &-13 {
      width: 750px;
      text-align: left;
      margin-top: 40px;
      
      & p {
        font-size: 25px;
      }
    }

    &-14 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD;
    }

    &-15 {
      width: 860px;
      height: 150px;
      margin-top: 100px;

      &-cube {
        margin: auto;
        width: 140px;
        height: 140px;
        background-color: #C8C8C8;
        float: left;
      }

      &-text-box {
        width: 680px;
        height: 150px;
        border: 3px solid;
        border-radius: 10px;
        float: right;
        padding: 25px 40px;

        &-text {
          width: 600px;
          height: 100px;
        }

        & p {
          font-size: 26px;
          text-align: left;
        }
      }
    }

    &-16 {
      width: 860px;
      height: 350px;
      background-color: #C8C8C8;
      margin-top: 60px;
    }

    &-17 {
      width: 598px;
      text-align: left;
      margin-top: 60px;

      & p {
        font-size: 37px;
      }
    }

    &-18 {
      width: 750px;
      text-align: left;
      margin-top: 40px;
      
      & p {
        font-size: 25px;
      }
    }

    &-19 {
      width: 100vw;
      height: 825px;
      margin-top: 80px;
      background-color: #F2F2F2;

      &-title {
        width: 667px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto;

        & p {
          font-size: 37px;
        }
      } 
      
      &-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0;

        & p {
          font-size: 25px;
        }
      }

      &-video {
        width: 650px;
        height: 365px;
        background-color: #C8C8C8;
        color: black;
        margin: 60px auto 0;
      }
    }

    &-20 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      position: relative;

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 490px;
        height: 100px;
        margin: auto;

        &-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left;
        }
  
        &-text {
          width: 360px;
          height: 100px;
          float: right;

          & p {
            font-size: 40px;
            text-align: center;
            line-height: 100px; 
            color: white;
          }
        }
      }
    }

    &-21 {
      width: 674px;
      text-align: left;
      margin-top: 100px;

      & p {
        font-size: 37px;
      }
    }

    &-22 {
      width: 860px;
      height: 500px;
      background-color: #C8C8C8;
      margin-top: 60px;
    }

    &-23 {
      width: 750px;
      text-align: left;
      margin-top: 60px;
      
      & p {
        font-size: 25px;
      }
    }

    &-24 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD;
    }

    &-25 {
      width: 712px;
      text-align: left;
      margin-top: 100px;

      & p {
        font-size: 37px;
      }
    }

    &-26 {
      width: 860px;
      height: 500px;
      background-color: #C8C8C8;
      margin-top: 60px;
    }

    &-27 {
      width: 750px;
      text-align: left;
      margin-top: 60px;
      
      & p {
        font-size: 25px;
      }
    }

    &-28 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      margin-top: 100px;
      position: relative;

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 490px;
        height: 100px;
        margin: auto;

        &-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left;
        }
  
        &-text {
          width: 360px;
          height: 100px;
          float: right;

          & p {
            font-size: 40px;
            text-align: center;
            line-height: 100px; 
            color: white;
          }
        }
      }
    }

    &-29 {
      width: 674px;
      text-align: center;
      margin-top: 100px;

      & p {
        font-size: 37px;
      }
    }

    &-30 {
      width: 525px;
      text-align: left;
      margin-top: 60px;

      & p {
        font-size: 25px;
      }
    }

    &-31 {
      width: 496px;
      text-align: left;
      margin-top: 15px;

      & p {
        font-size: 16px;
        color: #828282;
      }
    }

    &-32 {
      width: 860px;
      height: 199px;
      background-color: #C8C8C8;
      margin-top: 40px;
    }

    &-33 {
      margin-top: 50px;

      &-btn {
        width: 170px;
        height: 50px;
        background-color: #C8C8C8;
        color: black;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
    }

    &-34 {
      width: 860px;
      height: 400px;
      background-color: #C8C8C8;
      margin-top: 60px;
    }

    &-35 {
      width: 750px;
      text-align: left;
      margin-top: 60px;
      
      & p {
        font-size: 25px;
      }
    }

    &-36 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD;
    }

    &-37 {
      width: 674px;
      text-align: center;
      margin-top: 100px;

      & p {
        font-size: 37px;
      }
    }

    &-38 {
      width: 825px;
      text-align: left;
      margin-top: 60px;

      & p {
        font-size: 25px;
      }
    }

    &-39 {
      width: 496px;
      text-align: left;
      margin-top: 15px;

      & p {
        font-size: 16px;
        color: #828282;
      }
    }

    &-40 {
      margin-top: 40px;

      &-img {
        width: 170px;
        height: 199px;
        background-color: #C8C8C8;
      }
    }

    &-41 {
      margin-top: 50px;

      &-btn {
        width: 170px;
        height: 50px;
        background-color: #C8C8C8;
        color: black;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
    }

    &-42 {
      width: 860px;
      height: 400px;
      background-color: #C8C8C8;
      margin-top: 60px;
    }

    &-43 {
      width: 750px;
      text-align: left;
      margin-top: 60px;
      
      & p {
        font-size: 25px;
      }
    }

    &-44 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD;
    }

    &-45 {
      width: 860px;
      height: 150px;
      margin-top: 100px;

      &-cube {
        margin: auto;
        width: 140px;
        height: 140px;
        background-color: #C8C8C8;
        float: left;
      }

      &-text-box {
        width: 680px;
        height: 150px;
        border: 3px solid;
        border-radius: 10px;
        float: right;
        padding: 20px 35px;

        &-text {
          width: 600px;
          height: 100px;
        }

        & p {
          font-size: 26px;
          text-align: left;
        }
      }
    }

    &-46 {
      width: 860px;
      height: 450px;
      background-color: #C8C8C8;
      margin-top: 60px;
    }

    &-47 {
      width: 518px;
      text-align: left;
      margin-top: 60px;

      & p {
        font-size: 37px;
      }
    }

    &-48 {
      width: 750px;
      text-align: left;
      margin-top: 40px;
      
      & p {
        font-size: 25px;
      }
    }

    &-49 {
      width: 100vw;
      height: 825px;
      margin-top: 80px;
      background-color: #F2F2F2;

      &-title {
        width: 750px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto;

        & p {
          font-size: 37px;
        }
      } 
      
      &-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0;

        & p {
          font-size: 25px;
        }
      }

      &-video {
        width: 650px;
        height: 365px;
        background-color: #C8C8C8;
        color: black;
        margin: 60px auto 0;
      }
    }

    &-50 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      position: relative;

      &-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 530px;
        height: 100px;
        margin: auto;

        &-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left;
        }
  
        &-text {
          width: 400px;
          height: 100px;
          float: right;

          & p {
            font-size: 40px;
            text-align: center;
            line-height: 100px; 
            color: white;
          }
        }
      }
    }

    &-51 {
      width: 100vw;
      height: 990px;
      background-color: #F2F2F2;

      &-content {
        width: 860px;
        height: 150px;
        padding-top: 100px;
        margin: 0 auto;

        &-cube {
          margin: auto;
          width: 140px;
          height: 140px;
          background-color: #C8C8C8;
          float: left;
        }

        &-text-box {
          width: 680px;
          height: 150px;
          border: 3px solid;
          border-radius: 10px;
          float: right;
          padding: 20px 35px;

          &-text {
            width: 600px;
            height: 100px;
          }

          & p {
            font-size: 26px;
            text-align: left;
          }
        }
      }

      &-img {
        width: 860px;
        height: 600px;
        background-color: #C8C8C8;
        margin: 160px auto 0;
      }
    }

    &-52 {
      width: 750px;
      text-align: center;
      margin-top: 100px;

      & p {
        font-size: 37px;
      }
    }

    &-53 {
      width: 750px;
      text-align: left;
      margin-top: 40px;
      
      & p {
        font-size: 25px;
      }
    }

    &-54 {
      width: 100vw;
      height: 1017px;
      margin-top: 80px;
      background-color: #9DDDE3;

      &-title {
        width: 556px;
        text-align: left;
        padding-top: 100px;
        margin: 0 auto;

        & p {
          font-size: 37px;
        }
      } 
      
      &-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0;

        & p {
          font-size: 25px;
        }
      }

      &-video-grid {
        width: 1110px;
        height: 422px;
        color: black;
        margin: 60px auto 0;

        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 30px;

        &-img {
          background-color: #BDBDBD;
        }
      }
    }

    &-55 {
      width: 100vw;
      height: 1250px;
      background-color: white;

      &-title {
        width: 667px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto;

        & p {
          font-size: 37px;
        }
      } 
      
      &-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0;

        & p {
          font-size: 25px;
        }
      }

      &-grid {
        width: 1162px;
        height: 865px;
        color: black;
        margin: 60px auto 0;

        display: grid;
        grid-template-columns: 541px 541px;
        grid-template-rows: 235px 235px 235px;
        grid-gap: 80px;

        &-person {
          
          &-left {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: grey;
            float: left;
          }

          &-right {
            float: right;
            width: 331px;

            &-span {
              &-1 {
                font-size: 30px;
              }

              &-2 {
                font-size: 20px;
              }
            }

            &-text {
              margin: 20px 0 30px 0;
            }

            &-btn {
              width: 166px;
              height: 41px;
              background-color: grey;
              border-radius: 10px;
              font-size: 20px;
              text-align: center;
              line-height: 41px;
            }
          }
        }
      }
    }

    &-56 {
      width: 100vw;
      height: 850px;
      background-color: #FFF5D8;
    }

    &-57 {
      width: 100vw;
      height: 497px;
      background-color: #F06F04;
      color: white;

      &-title {
        width: 156px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto;

        & p {
          font-size: 37px;
        }
      } 
      
      &-text {
        width: 750px;
        text-align: left;
        margin: 36px auto 0;

        & p {
          font-size: 25px;
        }
      }

      &-btn {
       cursor: pointer;
       width: 255px;
       height: 70px;
       border-radius: 10px;
       text-align: center;
       line-height: 70px;
       background-color: #FFFFFF;
       margin: 57px auto 0;
       color: #F06F04;
       font-size: 29px;
      }
    }

    &-58 {
      width: 100vw;
      height: 800px;
      background-color: #FFF5D8;
      padding-top: 171px;

      &-pic {
        width: 750px;
        height: 409px;
        background-color: #C8C8C8;
        margin: 0 auto;
      }

      &-btn {
        cursor: pointer;
        width: 317px;
        height: 88px;
        border-radius: 10px;
        text-align: center;
        line-height: 88px;
        background-color: #C8C8C8;
        margin: 95px auto 0;
        color: black;
        font-size: 37px;
      }
    }
  }
}