.row-4 {
  max-width: 840px;
  margin: 0 auto 15px;

  @include clearfix;

  [class^="col-"] {
    float: left;
    
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .col-1-of-4 {
    width: 180px;
  }
}

.row-4-2 {
  max-width: 840px;
  margin: 0 auto;

  @include clearfix;

  [class^="col-"] {
    float: left;
    
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  .col-1-of-4 {
    width: 180px;
  }
}