.row-3-2 {
  max-width: 522px;
  height: 90px;
  margin: 4.5rem auto 2rem;

  @include clearfix;

  .col-1-of-3-1 {
    width: 122px;
    margin-right: 38px;
    float: left;
  }

  .col-1-of-3-2 {
    width: 176px;
    margin-right: 26px;
    float: left;
  }

  .col-1-of-3-3 {
    width: 160px;
    margin-right: 0;
    float: left;
  }
}