.row-3-2 {
  max-width: 49rem;
  height: 4.8rem;
  margin: 4.5rem auto 2rem;

  @include clearfix;

  [class^="col-"] {
    float: left;
    
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  .col-1-of-3-1 {
    width: 12rem;
  }

  .col-1-of-3-2 {
    width: 16.2rem;
  }

  .col-1-of-3-3 {
    width: 12rem;
  }
}