.header {
  &__block {
    margin: 0 auto;

    &-1 {
      width: 642px;
      height: 342px;
      position: relative;
      margin-top: 70px;

      @include respond(phone) {
        width: 370px;
        height: 191px;
        margin-top: 70px;
      }

      &__img {
        width: 642px;
        height: 342px;
        z-index: 2;
        position: absolute;

        @include respond(phone) {
          width: 370px;
          height: 191px;
        }
      }
    
      &__shade {
        width: 642px;
        height: 342px;
        z-index: 1;
        background-color: #E8CF8F;
        position: absolute;
        top: 12px;
        left: 12px;
        transform: rotate(.8deg);

        @include respond(phone) {
          width: 0;
          height: 0;
        }
      }
    }

    &-2 {
      width: 445px;
      height: 34px;
      margin-top: 50px;

      @include respond(phone) {
        width: 289px;
        height: 26px;
        margin-top: 38px;
      }

      &__main {
        color: #5E3F15;
        font-size: 30px;
        letter-spacing: 1px;

        @include respond(phone) {
          font-size: 20px;
          letter-spacing: 0.62px;
        }
      }
    }

    &-3 {
      width: 779px;
      height: 32px;
      margin-top: 29px;
      text-align: center;

      @include respond(phone) {
        width: 223px;
        height: 68px;
      }

      &__sub {
        color: #86663C;
        font-size: 23px;
        letter-spacing: .57px;
        

        @include respond(phone) {
          line-height: 24px;
          font-size: 18px;
          letter-spacing: .45px;
        }
      }
    }

    &-4 {
      width: 250px;
      height: 70px;
      margin-top: 28px;
      text-align: center;

      @include respond(phone) {
        width: 215px;
        height: 56px;
      }

      &__btn {
        border-radius: 20px;
        border: 3px solid white;
        font-size: 28px;
        letter-spacing: 0.93px;
        line-height: 54px;
        text-decoration: none;
        color: #fff;
        background-color: #F06F04;
        cursor: pointer;
        box-shadow: 5px 7px 9px rgba(black, .2);

        @include respond(phone) {
          font-size: 25px;
          letter-spacing: .63px;
          line-height: 46px;
        }

        &:hover {
          background-color:#FF8622;
        }

        &:active {
          box-shadow: none;
        }
      }
    }
  }
}
