.header {
  &__block {
    margin: 0 auto;

    &-1 {
      width: 550px;
      height: 308px;
      position: relative;
      margin-top: 88px;

      @include respond(phone) {
        width: 370px;
        height: 191px;
        margin-top: 70px;
      }

      &__img {
        width: 550px;
        height: 308px;
        z-index: 2;
        position: absolute;

        @include respond(phone) {
          width: 370px;
          height: 191px;
        }
      }
    }

    &-2 {
      margin-top: 50px auto 0;

      @include respond(phone) {
        width: 289px;
        height: 26px;
        margin-top: 38px;
      }

      &__main {
        width: 653px;
        height: 66px;
        margin-top: 33px;
        

        @include respond(phone) {
          width: 217px;
          height: 84px;
        }
      }
    }

    &-3 {
      width: 779px;
      height: 32px;
      margin-top: 10px;
      text-align: center;

      @include respond(phone) {
        margin-top: 80px;
        width: 223px;
        height: 68px;
      }

      &__sub {
        color: #86663C;
        font-size: 22px;
        letter-spacing: .57px;
        

        @include respond(phone) {
          line-height: 24px;
          font-size: 16px;
          letter-spacing: 1.18px;
        }
      }
    }

    &-4 {
      width: 220px;
      height: 50px;
      margin-top: 40px;
      text-align: center;

      @include respond(phone) {
        width: 180px;
        height: 40px;
      }

      &__btn {
        border-radius: 20px;
        font-size: 23px;
        letter-spacing: 3px;
        text-indent: 9px;
        line-height: 50px;
        text-decoration: none;
        color: #fff;
        background-color: #F06F04;
        cursor: pointer;

        @include respond(phone) {
          font-size: 19px;
          letter-spacing: .63px;
          line-height: 40px;
          border-radius: 10px;
        }

        &:hover {
          background-color:#FF8622;
        }

        &:active {
          box-shadow: none;
        }
      }
    }
  }
}
