@keyframes typing {
  from {
    width: 0; } }

@keyframes type {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes type2 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    color: #5E3F15;
    font-size: 30px;
    padding: 0;
    margin: 0 0 28.95px 0;
    letter-spacing: .159rem; }
  .heading-primary--sub {
    color: #86663C;
    font-size: 23px;
    padding: 0;
    margin: 0 0 31.5px 0;
    letter-spacing: .057rem; }

.one-line {
  font-family: "Lato", sans-serif;
  width: 100vw;
  height: 100vh;
  position: relative; }
  .one-line__the-day {
    position: absolute;
    margin: auto 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45%;
    width: 10rem;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.5s steps(15); }
  .one-line__info-insert {
    position: absolute;
    margin: auto 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 41%;
    width: 20rem;
    height: 36px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.8s steps(18); }

.header--btn {
  display: inline-block; }
  .header--btn-main {
    width: 270px;
    height: 70px;
    text-decoration: none;
    color: #fff;
    background-color: #F06F04;
    border-radius: 1.5rem;
    display: inline-block;
    font-size: 32px;
    letter-spacing: .8px;
    line-height: 70px; }
  .header--btn-second {
    text-decoration: none;
    background-color: #fff;
    color: #777;
    margin: 1.2rem;
    font-size: .7rem;
    display: block; }

.conversation {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }
  .conversation__img {
    margin: 0 auto;
    display: block;
    width: 700px;
    height: 500px;
    padding-top: 70px; }
  .conversation .conversation__box {
    width: 840px;
    height: 170px;
    border: .1rem solid;
    border-radius: .5rem;
    margin: 0 auto;
    position: relative;
    padding: 42px 67px 44px 47px; }
    .conversation .conversation__box p {
      font-family: "Lato", sans-serif;
      width: 725px;
      font-size: 25px;
      white-space: nowrap;
      overflow: hidden;
      opacity: 0; }
    .conversation .conversation__box-text-1 {
      opacity: 0;
      animation: type 1s steps(40, end);
      animation-fill-mode: forwards; }
    .conversation .conversation__box-text-2 {
      opacity: 0;
      animation: type 1s steps(40, end);
      animation-delay: 1.2s;
      animation-fill-mode: forwards; }
    .conversation .conversation__box-option {
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      background-color: #828282;
      width: 340px;
      height: 85px;
      color: white;
      font-size: 19px;
      text-align: center;
      border-radius: 10px;
      cursor: pointer; }
      .conversation .conversation__box-option-1 {
        left: 55px;
        line-height: 85px; }
      .conversation .conversation__box-option-2 {
        left: 445px;
        line-height: 85px; }

.conversation-box__btn {
  font-size: 32px;
  color: #C8C8C8;
  position: absolute;
  top: 106px;
  right: 30px; }

.identity {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  background-color: #BDBDBD;
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  position: absolute;
  top: -18%;
  left: 2%; }

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Lato", sans-serif; }
  .page__block {
    top: 0;
    left: 0;
    margin: 0 auto; }
    .page__block-1 {
      width: 513px;
      text-align: center;
      margin-top: 100px; }
      .page__block-1 h1 {
        font-size: 64px; }
      .page__block-1 h2 {
        font-size: 40px; }
    .page__block-2 {
      width: 750px;
      height: 300px;
      background-color: grey;
      margin-top: 60px; }
    .page__block-3 {
      width: 750px;
      font-size: 25px;
      padding: 0;
      margin-top: 60px; }
    .page__block-4 {
      width: 200px;
      height: 50px;
      background-color: #C8C8C8;
      border-radius: 10px;
      margin-top: 50px; }
      .page__block-4-btn {
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer; }
    .page__block-5 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      margin-top: 100px;
      position: relative; }
      .page__block-5-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 370px;
        height: 100px;
        margin: auto; }
        .page__block-5-content-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left; }
        .page__block-5-content-text {
          width: 270px;
          height: 100px;
          float: right; }
          .page__block-5-content-text p {
            font-size: 40px;
            text-align: center;
            line-height: 100px;
            color: white; }
    .page__block-6 {
      width: 1000px;
      height: 1000px;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 150px 0 170px 0;
      margin-bottom: 170px;
      z-index: 10;
      background-color: white; }
      .page__block-6-close {
        position: absolute;
        top: 16px;
        left: 914px;
        background-color: #C8C8C8;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        text-align: center;
        font-size: 50px;
        color: #828282;
        line-height: 50px;
        margin: 0;
        padding: 0; }
      .page__block-6-text {
        width: 750px;
        height: 680px; }
      .page__block-6 p {
        font-size: 25px; }
    .page__block-7 {
      width: 860px;
      height: 150px;
      margin-top: 100px; }
      .page__block-7-cube {
        margin: auto;
        width: 140px;
        height: 140px;
        background-color: #C8C8C8;
        float: left; }
      .page__block-7-text-box {
        width: 680px;
        height: 150px;
        border: 3px solid;
        border-radius: 10px;
        float: right;
        padding: 25px 40px; }
        .page__block-7-text-box-text {
          width: 600px;
          height: 100px; }
        .page__block-7-text-box p {
          font-size: 26px;
          text-align: left; }
    .page__block-8 {
      width: 860px;
      height: 350px;
      margin-top: 60px;
      background-color: #C8C8C8; }
    .page__block-9 {
      margin-top: 60px; }
      .page__block-9-btn {
        width: 200px;
        height: 60px;
        background-color: #C8C8C8;
        color: black;
        border-radius: 10px;
        font-size: 24px;
        text-align: center;
        line-height: 60px;
        cursor: pointer; }
    .page__block-10 {
      margin: 80px auto;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD; }
    .page__block-11 {
      width: 860px;
      height: 350px;
      margin-top: 80px;
      background-color: #C8C8C8; }
    .page__block-12 {
      width: 667px;
      text-align: center;
      margin-top: 60px; }
      .page__block-12 p {
        font-size: 37px; }
    .page__block-13 {
      width: 750px;
      text-align: left;
      margin-top: 40px; }
      .page__block-13 p {
        font-size: 25px; }
    .page__block-14 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD; }
    .page__block-15 {
      width: 860px;
      height: 150px;
      margin-top: 100px; }
      .page__block-15-cube {
        margin: auto;
        width: 140px;
        height: 140px;
        background-color: #C8C8C8;
        float: left; }
      .page__block-15-text-box {
        width: 680px;
        height: 150px;
        border: 3px solid;
        border-radius: 10px;
        float: right;
        padding: 25px 40px; }
        .page__block-15-text-box-text {
          width: 600px;
          height: 100px; }
        .page__block-15-text-box p {
          font-size: 26px;
          text-align: left; }
    .page__block-16 {
      width: 860px;
      height: 350px;
      background-color: #C8C8C8;
      margin-top: 60px; }
    .page__block-17 {
      width: 598px;
      text-align: left;
      margin-top: 60px; }
      .page__block-17 p {
        font-size: 37px; }
    .page__block-18 {
      width: 750px;
      text-align: left;
      margin-top: 40px; }
      .page__block-18 p {
        font-size: 25px; }
    .page__block-19 {
      width: 100vw;
      height: 825px;
      margin-top: 80px;
      background-color: #F2F2F2; }
      .page__block-19-title {
        width: 667px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto; }
        .page__block-19-title p {
          font-size: 37px; }
      .page__block-19-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0; }
        .page__block-19-text p {
          font-size: 25px; }
      .page__block-19-video {
        width: 650px;
        height: 365px;
        background-color: #C8C8C8;
        color: black;
        margin: 60px auto 0; }
    .page__block-20 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      margin-top: 100px;
      position: relative; }
      .page__block-20-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 490px;
        height: 100px;
        margin: auto; }
        .page__block-20-content-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left; }
        .page__block-20-content-text {
          width: 360px;
          height: 100px;
          float: right; }
          .page__block-20-content-text p {
            font-size: 40px;
            text-align: center;
            line-height: 100px;
            color: white; }
    .page__block-21 {
      width: 674px;
      text-align: left;
      margin-top: 100px; }
      .page__block-21 p {
        font-size: 37px; }
    .page__block-22 {
      width: 860px;
      height: 500px;
      background-color: #C8C8C8;
      margin-top: 60px; }
    .page__block-23 {
      width: 750px;
      text-align: left;
      margin-top: 60px; }
      .page__block-23 p {
        font-size: 25px; }
    .page__block-24 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD; }
    .page__block-25 {
      width: 712px;
      text-align: left;
      margin-top: 100px; }
      .page__block-25 p {
        font-size: 37px; }
    .page__block-26 {
      width: 860px;
      height: 500px;
      background-color: #C8C8C8;
      margin-top: 60px; }
    .page__block-27 {
      width: 750px;
      text-align: left;
      margin-top: 60px; }
      .page__block-27 p {
        font-size: 25px; }
    .page__block-28 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      margin-top: 100px;
      position: relative; }
      .page__block-28-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 490px;
        height: 100px;
        margin: auto; }
        .page__block-28-content-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left; }
        .page__block-28-content-text {
          width: 360px;
          height: 100px;
          float: right; }
          .page__block-28-content-text p {
            font-size: 40px;
            text-align: center;
            line-height: 100px;
            color: white; }
    .page__block-29 {
      width: 674px;
      text-align: center;
      margin-top: 100px; }
      .page__block-29 p {
        font-size: 37px; }
    .page__block-30 {
      width: 525px;
      text-align: left;
      margin-top: 60px; }
      .page__block-30 p {
        font-size: 25px; }
    .page__block-31 {
      width: 496px;
      text-align: left;
      margin-top: 15px; }
      .page__block-31 p {
        font-size: 16px;
        color: #828282; }
    .page__block-32 {
      width: 860px;
      height: 199px;
      background-color: #C8C8C8;
      margin-top: 40px; }
    .page__block-33 {
      margin-top: 50px; }
      .page__block-33-btn {
        width: 170px;
        height: 50px;
        background-color: #C8C8C8;
        color: black;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer; }
    .page__block-34 {
      width: 860px;
      height: 400px;
      background-color: #C8C8C8;
      margin-top: 60px; }
    .page__block-35 {
      width: 750px;
      text-align: left;
      margin-top: 60px; }
      .page__block-35 p {
        font-size: 25px; }
    .page__block-36 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD; }
    .page__block-37 {
      width: 674px;
      text-align: center;
      margin-top: 100px; }
      .page__block-37 p {
        font-size: 37px; }
    .page__block-38 {
      width: 825px;
      text-align: left;
      margin-top: 60px; }
      .page__block-38 p {
        font-size: 25px; }
    .page__block-39 {
      width: 496px;
      text-align: left;
      margin-top: 15px; }
      .page__block-39 p {
        font-size: 16px;
        color: #828282; }
    .page__block-40 {
      margin-top: 40px; }
      .page__block-40-img {
        width: 170px;
        height: 199px;
        background-color: #C8C8C8; }
    .page__block-41 {
      margin-top: 50px; }
      .page__block-41-btn {
        width: 170px;
        height: 50px;
        background-color: #C8C8C8;
        color: black;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        cursor: pointer; }
    .page__block-42 {
      width: 860px;
      height: 400px;
      background-color: #C8C8C8;
      margin-top: 60px; }
    .page__block-43 {
      width: 750px;
      text-align: left;
      margin-top: 60px; }
      .page__block-43 p {
        font-size: 25px; }
    .page__block-44 {
      margin: 80px auto 0;
      width: 1220px;
      border-top: .63px solid;
      color: #BDBDBD; }
    .page__block-45 {
      width: 860px;
      height: 150px;
      margin-top: 100px; }
      .page__block-45-cube {
        margin: auto;
        width: 140px;
        height: 140px;
        background-color: #C8C8C8;
        float: left; }
      .page__block-45-text-box {
        width: 680px;
        height: 150px;
        border: 3px solid;
        border-radius: 10px;
        float: right;
        padding: 20px 35px; }
        .page__block-45-text-box-text {
          width: 600px;
          height: 100px; }
        .page__block-45-text-box p {
          font-size: 26px;
          text-align: left; }
    .page__block-46 {
      width: 860px;
      height: 450px;
      background-color: #C8C8C8;
      margin-top: 60px; }
    .page__block-47 {
      width: 518px;
      text-align: left;
      margin-top: 60px; }
      .page__block-47 p {
        font-size: 37px; }
    .page__block-48 {
      width: 750px;
      text-align: left;
      margin-top: 40px; }
      .page__block-48 p {
        font-size: 25px; }
    .page__block-49 {
      width: 100vw;
      height: 825px;
      margin-top: 80px;
      background-color: #F2F2F2; }
      .page__block-49-title {
        width: 750px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto; }
        .page__block-49-title p {
          font-size: 37px; }
      .page__block-49-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0; }
        .page__block-49-text p {
          font-size: 25px; }
      .page__block-49-video {
        width: 650px;
        height: 365px;
        background-color: #C8C8C8;
        color: black;
        margin: 60px auto 0; }
    .page__block-50 {
      width: 100vw;
      height: 250px;
      background-color: #828282;
      margin-top: 100px;
      position: relative; }
      .page__block-50-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 530px;
        height: 100px;
        margin: auto; }
        .page__block-50-content-cube {
          width: 100px;
          height: 100px;
          background-color: #C8C8C8;
          float: left; }
        .page__block-50-content-text {
          width: 400px;
          height: 100px;
          float: right; }
          .page__block-50-content-text p {
            font-size: 40px;
            text-align: center;
            line-height: 100px;
            color: white; }
    .page__block-51 {
      width: 100vw;
      height: 990px;
      background-color: #F2F2F2; }
      .page__block-51-content {
        width: 860px;
        height: 150px;
        padding-top: 100px;
        margin: 0 auto; }
        .page__block-51-content-cube {
          margin: auto;
          width: 140px;
          height: 140px;
          background-color: #C8C8C8;
          float: left; }
        .page__block-51-content-text-box {
          width: 680px;
          height: 150px;
          border: 3px solid;
          border-radius: 10px;
          float: right;
          padding: 20px 35px; }
          .page__block-51-content-text-box-text {
            width: 600px;
            height: 100px; }
          .page__block-51-content-text-box p {
            font-size: 26px;
            text-align: left; }
      .page__block-51-img {
        width: 860px;
        height: 600px;
        background-color: #C8C8C8;
        margin: 160px auto 0; }
    .page__block-52 {
      width: 750px;
      text-align: center;
      margin-top: 100px; }
      .page__block-52 p {
        font-size: 37px; }
    .page__block-53 {
      width: 750px;
      text-align: left;
      margin-top: 40px; }
      .page__block-53 p {
        font-size: 25px; }
    .page__block-54 {
      width: 100vw;
      height: 1017px;
      margin-top: 80px;
      background-color: #9DDDE3; }
      .page__block-54-title {
        width: 556px;
        text-align: left;
        padding-top: 100px;
        margin: 0 auto; }
        .page__block-54-title p {
          font-size: 37px; }
      .page__block-54-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0; }
        .page__block-54-text p {
          font-size: 25px; }
      .page__block-54-video-grid {
        width: 1110px;
        height: 422px;
        color: black;
        margin: 60px auto 0;
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 30px; }
        .page__block-54-video-grid-img {
          background-color: #BDBDBD; }
    .page__block-55 {
      width: 100vw;
      height: 1183px;
      background-color: #FFF5D8; }
      .page__block-55-title {
        width: 667px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto; }
        .page__block-55-title p {
          font-size: 37px; }
      .page__block-55-text {
        width: 750px;
        text-align: left;
        margin: 40px auto 0; }
        .page__block-55-text p {
          font-size: 25px; }
      .page__block-55-grid {
        width: 1162px;
        height: 865px;
        color: black;
        margin: 60px auto 0;
        display: grid;
        grid-template-columns: 541px 541px;
        grid-template-rows: 235px 235px 235px;
        grid-gap: 80px; }
        .page__block-55-grid-person {
          background-color: grey; }
    .page__block-56 {
      width: 100vw;
      height: 850px;
      background-color: #FFF5D8; }
    .page__block-57 {
      width: 100vw;
      height: 497px;
      background-color: #F06F04;
      color: white; }
      .page__block-57-title {
        width: 156px;
        text-align: center;
        padding-top: 100px;
        margin: 0 auto; }
        .page__block-57-title p {
          font-size: 37px; }
      .page__block-57-text {
        width: 750px;
        text-align: left;
        margin: 36px auto 0; }
        .page__block-57-text p {
          font-size: 25px; }
      .page__block-57-btn {
        cursor: pointer;
        width: 255px;
        height: 70px;
        border-radius: 10px;
        text-align: center;
        line-height: 70px;
        background-color: #FFFFFF;
        margin: 57px auto 0;
        color: #F06F04;
        font-size: 29px; }
    .page__block-58 {
      width: 100vw;
      height: 800px;
      background-color: #FFF5D8;
      padding-top: 171px; }
      .page__block-58-pic {
        width: 750px;
        height: 409px;
        background-color: #C8C8C8;
        margin: 0 auto; }
      .page__block-58-btn {
        cursor: pointer;
        width: 317px;
        height: 88px;
        border-radius: 10px;
        text-align: center;
        line-height: 88px;
        background-color: #C8C8C8;
        margin: 95px auto 0;
        color: black;
        font-size: 37px; }

.header {
  text-align: center;
  background-color: #FFF5D8;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0; }
  .header--img {
    width: 642px;
    height: 342px;
    margin: 0;
    padding: 70px 0 68px 0; }

.row-3 {
  max-width: 860px;
  margin: 0 auto; }
  .row-3:not(:last-child) {
    margin-bottom: 8rem; }
  .row-3:after {
    content: "";
    display: table;
    clear: both; }
  .row-3 [class^="col-"] {
    float: left; }
    .row-3 [class^="col-"]:not(:last-child) {
      margin-right: 130px; }
  .row-3 .col-1-of-3 {
    width: calc((100% - 2 * 130px) / 3); }

.row-4 {
  max-width: 860px;
  margin: 0 auto; }
  .row-4:not(:last-child) {
    margin-bottom: 8rem; }
  .row-4:after {
    content: "";
    display: table;
    clear: both; }
  .row-4 [class^="col-"] {
    float: left; }
    .row-4 [class^="col-"]:not(:last-child) {
      margin-right: 60px; }
  .row-4 .col-1-of-4 {
    width: calc((100% - 3 * 60px) / 4); }
