@keyframes typing {
  from {
    width: 0; } }

@keyframes caret {
  50% {
    border-color: transparent; } }

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: inherit; }

.body {
  padding: 0;
  box-sizing: border-box; }

.body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #777;
  padding-top: .5rem; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem; }
  .heading-primary--main {
    color: black;
    margin-top: 2rem;
    letter-spacing: .3rem; }
  .heading-primary--sub {
    color: #777;
    letter-spacing: .2rem; }

.the-day {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: auto; }
  .the-day h3 {
    position: relative;
    top: 45%;
    transform: translateY(-45%);
    margin-left: 75vh;
    width: 10rem;
    border-right: .05em solid;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 1s steps(10), caret 1s steps(1) infinite; }

.header--btn {
  display: inline-block; }
  .header--btn-main {
    text-decoration: none;
    color: #fff;
    background-color: #777;
    border-radius: 1.5rem;
    padding: .7rem 2rem;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    display: inline-block; }
  .header--btn-second {
    text-decoration: none;
    background-color: #fff;
    color: #777;
    margin: 1.2rem;
    font-size: .7rem;
    display: block; }

.conversation img {
  margin: auto;
  display: block;
  width: 95vh;
  height: 80vh; }

.conversation .conversation-box {
  width: 55%;
  padding: .3rem .2rem 2.5rem .3rem;
  border: .1rem solid;
  border-radius: .5rem;
  margin: auto;
  position: relative; }

.conversation-box__btn {
  position: absolute;
  top: 70%;
  left: 96%; }

.h3-1 {
  font-family: "Lato", sans-serif;
  width: 40rem;
  border-right: .02em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(40), caret 1s steps(1) infinite;
  padding: .5rem .5rem; }

.h3-2 {
  font-family: "Lato", sans-serif;
  width: 44.5rem;
  border-right: .02em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.7s steps(40), caret 1s steps(1) infinite;
  padding: .5rem .5rem; }

.h3-3 {
  font-family: "Lato", sans-serif;
  width: 20rem;
  border-right: .02em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 0.8s steps(20), caret 1s steps(1) infinite;
  padding: .5rem .5rem; }

.h3-4 {
  font-family: "Lato", sans-serif;
  width: 32.5rem;
  border-right: .02em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(33), caret 1s steps(1) infinite;
  padding: .5rem .5rem; }

.h3-5 {
  font-family: "Lato", sans-serif;
  width: 29.3rem;
  border-right: .02em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(29), caret 1s steps(1) infinite;
  padding: .5rem .5rem; }

.h3-6 {
  font-family: "Lato", sans-serif;
  width: 36.5rem;
  border-right: .02em solid;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.2s steps(36), caret 1s steps(1) infinite;
  padding: .5rem .5rem; }

.header {
  height: 95vh;
  text-align: center; }
  .header img {
    display: block;
    margin: auto;
    width: 50%; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * (6rem)); }
