@keyframes typing {
  from {
    width: 0; } }

@keyframes type {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes type2 {
  0% {
    width: 0; }
  1% {
    opacity: 1; }
  100% {
    opacity: 1; } }

*,
*::before,
*::after {
  margin: 0;
  border: 0;
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Arial";
  font-weight: 400; }

html {
  font-size: 62.5%; }

.one-line {
  width: 100vw;
  height: 100vh;
  position: relative; }
  .one-line__the-day {
    position: absolute;
    margin: auto 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 42%;
    width: 28rem;
    height: 3.6rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.5s steps(15);
    font-size: 3rem; }
    @media (max-width: 900px) {
      .one-line__the-day {
        font-size: 2.75rem;
        left: 35%; } }
    @media (max-width: 600px) {
      .one-line__the-day {
        font-size: 2.5rem;
        left: 21.5%; } }
  .one-line__info-insert {
    position: absolute;
    margin: auto 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 36%;
    width: 47rem;
    height: 3.6rem;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 0.8s steps(18);
    font-size: 3rem; }
    @media (max-width: 900px) {
      .one-line__info-insert {
        font-size: 2.6rem;
        left: 25%; } }
    @media (max-width: 600px) {
      .one-line__info-insert {
        font-size: 2rem;
        left: 9%; } }

.conversation {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #FFF5D8; }
  .conversation__img {
    margin: 0 auto;
    display: block;
    width: 70rem;
    height: 50rem;
    padding-top: 7rem; }
    @media (max-width: 900px) {
      .conversation__img {
        padding-top: 5rem;
        width: 70vw;
        height: 50vh; } }
    @media (max-width: 600px) {
      .conversation__img {
        padding-top: 5.5rem;
        width: 36rem;
        height: 25.6rem; } }
  .conversation .conversation__box {
    width: 84rem;
    height: 17rem;
    border: .5rem solid;
    border-radius: 2rem;
    background-color: white;
    color: #C89E67;
    margin: 0 auto;
    position: relative;
    padding: 4.2rem 6.7rem 4.4rem 4.7rem; }
    @media (max-width: 900px) {
      .conversation .conversation__box {
        margin-top: 3.8rem;
        width: 60rem;
        height: 25rem;
        padding: 5.5rem 9rem; } }
    @media (max-width: 600px) {
      .conversation .conversation__box {
        margin-top: 3.8rem;
        width: 33rem;
        height: 23rem;
        padding: 0;
        padding: 5.5rem 2.4rem; } }
    .conversation .conversation__box p {
      font-family: "Arial";
      width: 72.5rem;
      font-size: 2.5rem;
      white-space: nowrap;
      overflow: hidden;
      color: #5E3F15;
      opacity: 0; }
      @media (max-width: 900px) {
        .conversation .conversation__box p {
          font-size: 2.5rem;
          width: 50rem; } }
      @media (max-width: 600px) {
        .conversation .conversation__box p {
          font-size: 1.8rem;
          width: 27rem; } }
    .conversation .conversation__box-text-1 {
      opacity: 0;
      animation: type 1s steps(40, end);
      animation-fill-mode: forwards; }
    .conversation .conversation__box-text-2 {
      opacity: 0;
      animation: type 1s steps(40, end);
      animation-delay: 1.2s;
      animation-fill-mode: forwards; }
    .conversation .conversation__box-text-3 {
      opacity: 0;
      animation: type 1.2s steps(40, end);
      animation-delay: 2.3s;
      animation-fill-mode: forwards; }
    .conversation .conversation__box-text-4 {
      opacity: 0;
      animation: type 1s steps(40, end);
      animation-delay: 3.6s;
      animation-fill-mode: forwards; }
    .conversation .conversation__box-option {
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      background-color: #828282;
      width: 34rem;
      height: 8.5rem;
      color: white;
      font-size: 1.9rem;
      text-align: center;
      border-radius: 1rem;
      cursor: pointer; }
      @media (max-width: 900px) {
        .conversation .conversation__box-option {
          position: relative;
          width: 36rem;
          font-size: 2rem;
          height: 6rem; } }
      @media (max-width: 600px) {
        .conversation .conversation__box-option {
          width: 26rem;
          height: 6.5rem;
          position: relative;
          font-size: 1.8rem;
          margin: 0; } }
      .conversation .conversation__box-option-1 {
        left: 5.5rem;
        line-height: 8.5rem; }
        @media (max-width: 900px) {
          .conversation .conversation__box-option-1 {
            left: 0;
            margin-bottom: 2.5rem;
            line-height: 6rem;
            padding: 0;
            transform: translateX(2.8rem); } }
        @media (max-width: 600px) {
          .conversation .conversation__box-option-1 {
            line-height: 2rem;
            left: 0;
            color: white;
            text-align: left;
            padding: 1.2rem 3.8rem;
            transform: translateX(0.7rem) translateY(-1.8rem); } }
      .conversation .conversation__box-option-2 {
        left: 44.5rem;
        line-height: 8.5rem; }
        @media (max-width: 900px) {
          .conversation .conversation__box-option-2 {
            left: 0;
            line-height: 6rem;
            padding: 0;
            transform: translateX(2.8rem); } }
        @media (max-width: 600px) {
          .conversation .conversation__box-option-2 {
            line-height: 2rem;
            left: 0;
            padding: 1.2rem 3.8rem;
            text-align: left;
            margin-top: 2.6rem;
            transform: translateX(0.7rem) translateY(-1.8rem); } }

.conversation-box__btn {
  font-size: 7.2rem;
  color: #F06F04;
  position: absolute;
  top: 9rem;
  right: 1rem; }
  @media (max-width: 900px) {
    .conversation-box__btn {
      top: 18.5rem;
      right: 1.5rem;
      font-size: 5rem; } }
  @media (max-width: 600px) {
    .conversation-box__btn {
      top: 16.5rem;
      right: .5rem;
      font-size: 6rem; } }

.identity {
  font-family: "Arial";
  font-size: 2.5rem;
  background-color: #F06F04;
  color: white;
  padding: 1rem 2.2rem;
  border-radius: 1rem;
  position: absolute;
  top: -18%;
  left: 2%; }
  @media (max-width: 900px) {
    .identity {
      font-size: 2rem;
      padding: .6rem 1.7rem;
      top: -10%;
      left: 5%; } }
  @media (max-width: 600px) {
    .identity {
      font-size: 2rem;
      padding: .6rem 1.7rem;
      top: -10%;
      left: 5%; } }

.page {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: "Arial"; }
  .page__block {
    top: 0;
    left: 0;
    margin: 0 auto; }
    .page__block-1 {
      width: 51.3rem;
      text-align: center;
      padding-top: 10rem; }
      .page__block-1 h1 {
        font-size: 6.4rem; }
      .page__block-1 h2 {
        font-size: 4rem; }
    .page__block-2 {
      width: 75rem;
      height: 30rem;
      background-color: grey;
      margin-top: 6rem; }
    .page__block-3 {
      width: 75rem;
      font-size: 2.5rem;
      padding: 0;
      margin-top: 6rem; }
    .page__block-4 {
      width: 20rem;
      height: 5rem;
      background-color: #C8C8C8;
      border-radius: 1rem;
      margin-top: 5rem; }
      .page__block-4-btn {
        font-size: 2rem;
        text-align: center;
        line-height: 5rem;
        cursor: pointer; }
    .page__block-5 {
      width: 100vw;
      height: 25rem;
      background-color: #828282;
      margin-top: 10rem;
      position: relative; }
      .page__block-5-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 37rem;
        height: 10rem;
        margin: auto; }
        .page__block-5-content-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left; }
        .page__block-5-content-text {
          width: 27rem;
          height: 10rem;
          float: right; }
          .page__block-5-content-text p {
            font-size: 4rem;
            text-align: center;
            line-height: 10rem;
            color: white; }
    .page__block-6 {
      width: 100rem;
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15rem 0 17rem 0;
      z-index: 10;
      background-color: white;
      overflow: scroll; }
      .page__block-6-close {
        position: absolute;
        top: 1.6rem;
        left: 91.4rem;
        background-color: #C8C8C8;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        text-align: center;
        font-size: 5rem;
        color: #828282;
        line-height: 5rem;
        margin: 0;
        padding: 0;
        cursor: pointer; }
      .page__block-6-text {
        width: 75rem; }
      .page__block-6 p {
        font-size: 2.5rem; }
    .page__block-7 {
      width: 86rem;
      height: 15rem;
      margin-top: 10rem; }
      .page__block-7-cube {
        margin: auto;
        width: 14rem;
        height: 14rem;
        background-color: #C8C8C8;
        float: left; }
      .page__block-7-text-box {
        width: 68rem;
        height: 15rem;
        border: .3rem solid;
        border-radius: 1rem;
        float: right;
        padding: 2.5rem 4rem; }
        .page__block-7-text-box-text {
          width: 60rem;
          height: 10rem; }
        .page__block-7-text-box p {
          font-size: 2.6rem;
          text-align: left; }
    .page__block-8 {
      width: 86rem;
      height: 35rem;
      margin-top: 6rem;
      background-color: #C8C8C8; }
    .page__block-9 {
      margin-top: 6rem; }
      .page__block-9-btn {
        width: 20rem;
        height: 6rem;
        background-color: #C8C8C8;
        color: black;
        border-radius: 1rem;
        font-size: 2.4rem;
        text-align: center;
        line-height: 6rem;
        cursor: pointer; }
    .page__block-10 {
      margin: 8rem auto;
      width: 122rem;
      border-top: .063rem solid;
      color: #BDBDBD; }
    .page__block-11 {
      width: 86rem;
      height: 35rem;
      margin-top: 8rem;
      background-color: #C8C8C8; }
    .page__block-12 {
      width: 66.7rem;
      text-align: center;
      margin-top: 6rem; }
      .page__block-12 p {
        font-size: 3.7rem; }
    .page__block-13 {
      width: 75rem;
      text-align: left;
      margin-top: 4rem; }
      .page__block-13 p {
        font-size: 2.5rem; }
    .page__block-14 {
      margin: 8rem auto 0;
      width: 122rem;
      border-top: .063rem solid;
      color: #BDBDBD; }
    .page__block-15 {
      width: 86rem;
      height: 15rem;
      margin-top: 10rem; }
      .page__block-15-cube {
        margin: auto;
        width: 14rem;
        height: 14rem;
        background-color: #C8C8C8;
        float: left; }
      .page__block-15-text-box {
        width: 68rem;
        height: 15rem;
        border: .3rem solid;
        border-radius: 1rem;
        float: right;
        padding: 2.5rem 4rem; }
        .page__block-15-text-box-text {
          width: 60rem;
          height: 10rem; }
        .page__block-15-text-box p {
          font-size: 2.6rem;
          text-align: left; }
    .page__block-16 {
      width: 86rem;
      height: 35rem;
      background-color: #C8C8C8;
      margin-top: 6rem; }
    .page__block-17 {
      width: 59.8rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-17 p {
        font-size: 3.7rem; }
    .page__block-18 {
      width: 75rem;
      text-align: left;
      margin-top: 4rem; }
      .page__block-18 p {
        font-size: 2.5rem; }
    .page__block-19 {
      width: 100vw;
      height: 82.5rem;
      margin-top: 8rem;
      background-color: #F2F2F2; }
      .page__block-19-title {
        width: 66.7rem;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto; }
        .page__block-19-title p {
          font-size: 3.7rem; }
      .page__block-19-text {
        width: 75rem;
        text-align: left;
        margin: 4rem auto 0; }
        .page__block-19-text p {
          font-size: 2.5rem; }
      .page__block-19-video {
        width: 65rem;
        height: 36.5rem;
        background-color: #C8C8C8;
        color: black;
        margin: 6rem auto 0; }
    .page__block-20 {
      width: 100vw;
      height: 25rem;
      background-color: #828282;
      position: relative; }
      .page__block-20-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 49rem;
        height: 10rem;
        margin: auto; }
        .page__block-20-content-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left; }
        .page__block-20-content-text {
          width: 36rem;
          height: 10rem;
          float: right; }
          .page__block-20-content-text p {
            font-size: 4rem;
            text-align: center;
            line-height: 10rem;
            color: white; }
    .page__block-21 {
      width: 67.4rem;
      text-align: left;
      margin-top: 10rem; }
      .page__block-21 p {
        font-size: 3.7rem; }
    .page__block-22 {
      width: 86rem;
      height: 50rem;
      background-color: #C8C8C8;
      margin-top: 6rem; }
    .page__block-23 {
      width: 75rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-23 p {
        font-size: 2.5rem; }
    .page__block-24 {
      margin: 8rem auto 0;
      width: 122rem;
      border-top: .063rem solid;
      color: #BDBDBD; }
    .page__block-25 {
      width: 71.2rem;
      text-align: left;
      margin-top: 10rem; }
      .page__block-25 p {
        font-size: 3.7rem; }
    .page__block-26 {
      width: 86rem;
      height: 50rem;
      background-color: #C8C8C8;
      margin-top: 6rem; }
    .page__block-27 {
      width: 75rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-27 p {
        font-size: 2.5rem; }
    .page__block-28 {
      width: 100vw;
      height: 25rem;
      background-color: #828282;
      margin-top: 10rem;
      position: relative; }
      .page__block-28-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 49rem;
        height: 10rem;
        margin: auto; }
        .page__block-28-content-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left; }
        .page__block-28-content-text {
          width: 36rem;
          height: 10rem;
          float: right; }
          .page__block-28-content-text p {
            font-size: 4rem;
            text-align: center;
            line-height: 10rem;
            color: white; }
    .page__block-29 {
      width: 67.4rem;
      text-align: center;
      margin-top: 10rem; }
      .page__block-29 p {
        font-size: 3.7rem; }
    .page__block-30 {
      width: 52.5rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-30 p {
        font-size: 2.5rem; }
    .page__block-31 {
      width: 49.6rem;
      text-align: left;
      margin-top: 1.5rem; }
      .page__block-31 p {
        font-size: 1.6rem;
        color: #828282; }
    .page__block-32 {
      width: 86rem;
      height: 19.9rem;
      background-color: #C8C8C8;
      margin-top: 4rem; }
    .page__block-33 {
      margin-top: 5rem; }
      .page__block-33-btn {
        width: 17rem;
        height: 5rem;
        background-color: #C8C8C8;
        color: black;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
        line-height: 5rem;
        cursor: pointer; }
    .page__block-34 {
      width: 86rem;
      height: 40rem;
      background-color: #C8C8C8;
      margin-top: 6rem; }
    .page__block-35 {
      width: 75rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-35 p {
        font-size: 2.5rem; }
    .page__block-36 {
      margin: 8rem auto 0;
      width: 122rem;
      border-top: .063rem solid;
      color: #BDBDBD; }
    .page__block-37 {
      width: 67.4rem;
      text-align: center;
      margin-top: 10rem; }
      .page__block-37 p {
        font-size: 3.7rem; }
    .page__block-38 {
      width: 82.5rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-38 p {
        font-size: 2.5rem; }
    .page__block-39 {
      width: 49.6rem;
      text-align: left;
      margin-top: 1.5rem; }
      .page__block-39 p {
        font-size: 1.6rem;
        color: #828282; }
    .page__block-40 {
      margin-top: 4rem; }
      .page__block-40-img {
        width: 17rem;
        height: 19.9rem;
        background-color: #C8C8C8; }
    .page__block-41 {
      margin-top: 5rem; }
      .page__block-41-btn {
        width: 17rem;
        height: 5rem;
        background-color: #C8C8C8;
        color: black;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
        line-height: 5rem;
        cursor: pointer; }
    .page__block-42 {
      width: 86rem;
      height: 40rem;
      background-color: #C8C8C8;
      margin-top: 6rem; }
    .page__block-43 {
      width: 75rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-43 p {
        font-size: 2.5rem; }
    .page__block-44 {
      margin: 8rem auto 0;
      width: 122rem;
      border-top: .063rem solid;
      color: #BDBDBD; }
    .page__block-45 {
      width: 86rem;
      height: 15rem;
      margin-top: 10rem; }
      .page__block-45-cube {
        margin: auto;
        width: 14rem;
        height: 14rem;
        background-color: #C8C8C8;
        float: left; }
      .page__block-45-text-box {
        width: 68rem;
        height: 15rem;
        border: .3rem solid;
        border-radius: 1rem;
        float: right;
        padding: 2rem 3.5rem; }
        .page__block-45-text-box-text {
          width: 60rem;
          height: 10rem; }
        .page__block-45-text-box p {
          font-size: 2.6rem;
          text-align: left; }
    .page__block-46 {
      width: 86rem;
      height: 45rem;
      background-color: #C8C8C8;
      margin-top: 6rem; }
    .page__block-47 {
      width: 51.8rem;
      text-align: left;
      margin-top: 6rem; }
      .page__block-47 p {
        font-size: 3.7rem; }
    .page__block-48 {
      width: 75rem;
      text-align: left;
      margin-top: 4rem; }
      .page__block-48 p {
        font-size: 2.5rem; }
    .page__block-49 {
      width: 100vw;
      height: 82.5rem;
      margin-top: 8rem;
      background-color: #F2F2F2; }
      .page__block-49-title {
        width: 75rem;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto; }
        .page__block-49-title p {
          font-size: 3.7rem; }
      .page__block-49-text {
        width: 75rem;
        text-align: left;
        margin: 4rem auto 0; }
        .page__block-49-text p {
          font-size: 2.5rem; }
      .page__block-49-video {
        width: 65rem;
        height: 36.5rem;
        background-color: #C8C8C8;
        color: black;
        margin: 6rem auto 0; }
    .page__block-50 {
      width: 100vw;
      height: 25rem;
      background-color: #828282;
      position: relative; }
      .page__block-50-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 58rem;
        height: 10rem;
        margin: auto; }
        .page__block-50-content-cube {
          width: 10rem;
          height: 10rem;
          background-color: #C8C8C8;
          float: left; }
        .page__block-50-content-text {
          width: 45rem;
          height: 10rem;
          float: right; }
          .page__block-50-content-text p {
            font-size: 4rem;
            text-align: center;
            line-height: 10rem;
            color: white; }
    .page__block-51 {
      width: 100vw;
      height: 99rem;
      background-color: #F2F2F2; }
      .page__block-51-content {
        width: 86rem;
        height: 15rem;
        padding-top: 10rem;
        margin: 0 auto; }
        .page__block-51-content-cube {
          margin: auto;
          width: 14rem;
          height: 14rem;
          background-color: #C8C8C8;
          float: left; }
        .page__block-51-content-text-box {
          width: 68rem;
          height: 15rem;
          border: .3rem solid;
          border-radius: 1rem;
          float: right;
          padding: 2rem 3.5rem; }
          .page__block-51-content-text-box-text {
            width: 60rem;
            height: 10rem; }
          .page__block-51-content-text-box p {
            font-size: 2.6rem;
            text-align: left; }
      .page__block-51-img {
        width: 86rem;
        height: 60rem;
        background-color: #C8C8C8;
        margin: 16rem auto 0; }
    .page__block-52 {
      width: 75rem;
      text-align: center;
      margin-top: 10rem; }
      .page__block-52 p {
        font-size: 3.7rem; }
    .page__block-53 {
      width: 75rem;
      text-align: left;
      margin-top: 4rem; }
      .page__block-53 p {
        font-size: 2.5rem; }
    .page__block-54 {
      width: 100vw;
      height: 101.7rem;
      margin-top: 8rem;
      background-color: #9DDDE3; }
      .page__block-54-title {
        width: 55.6rem;
        text-align: left;
        padding-top: 10rem;
        margin: 0 auto; }
        .page__block-54-title p {
          font-size: 3.7rem; }
      .page__block-54-text {
        width: 75rem;
        text-align: left;
        margin: 4rem auto 0; }
        .page__block-54-text p {
          font-size: 2.5rem; }
      .page__block-54-video-grid {
        width: 111rem;
        height: 42.2rem;
        color: black;
        margin: 6rem auto 0;
        display: grid;
        grid-template-columns: 35rem 35rem 35rem;
        grid-gap: 3rem; }
        .page__block-54-video-grid-img {
          background-color: #BDBDBD; }
    .page__block-55 {
      width: 100vw;
      height: 125rem;
      background-color: white; }
      .page__block-55-title {
        width: 66.7rem;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto; }
        .page__block-55-title p {
          font-size: 3.7rem; }
      .page__block-55-text {
        width: 75rem;
        text-align: left;
        margin: 4rem auto 0; }
        .page__block-55-text p {
          font-size: 2.5rem; }
      .page__block-55-grid {
        width: 116.2rem;
        height: 86.5rem;
        color: black;
        margin: 6rem auto 0;
        display: grid;
        grid-template-columns: 54.1rem 54.1rem;
        grid-template-rows: 23.5rem 23.5rem 23.5rem;
        grid-gap: 8rem; }
        .page__block-55-grid-person-left {
          width: 18rem;
          height: 18rem;
          border-radius: 50%;
          background-color: grey;
          float: left; }
        .page__block-55-grid-person-right {
          float: right;
          width: 33.1rem; }
          .page__block-55-grid-person-right-span-1 {
            font-size: 3rem; }
          .page__block-55-grid-person-right-span-2 {
            font-size: 2rem; }
          .page__block-55-grid-person-right-text {
            font-size: 2rem;
            margin: 2rem 0 3rem 0; }
          .page__block-55-grid-person-right-btn {
            width: 16.6rem;
            height: 4.1rem;
            background-color: grey;
            border-radius: 1rem;
            font-size: 2rem;
            text-align: center;
            line-height: 4.1rem;
            cursor: pointer; }
    .page__block-56 {
      width: 100vw;
      height: 85rem;
      background-color: #FFF5D8; }
    .page__block-57 {
      width: 100vw;
      height: 49.7rem;
      background-color: #F06F04;
      color: white; }
      .page__block-57-title {
        width: 15.6rem;
        text-align: center;
        padding-top: 10rem;
        margin: 0 auto; }
        .page__block-57-title p {
          font-size: 3.7rem; }
      .page__block-57-text {
        width: 75rem;
        text-align: left;
        margin: 3.6rem auto 0; }
        .page__block-57-text p {
          font-size: 2.5rem; }
      .page__block-57-btn {
        cursor: pointer;
        width: 25.5rem;
        height: 7rem;
        border-radius: 1rem;
        text-align: center;
        line-height: 7rem;
        background-color: #FFFFFF;
        margin: 5.7rem auto 0;
        color: #F06F04;
        font-size: 2.9rem; }
    .page__block-58 {
      width: 100vw;
      height: 80rem;
      background-color: #FFF5D8;
      padding-top: 17.1rem; }
      .page__block-58-pic {
        width: 75rem;
        height: 40.9rem;
        background-color: #C8C8C8;
        margin: 0 auto; }
      .page__block-58-btn {
        cursor: pointer;
        width: 31.7rem;
        height: 8.8rem;
        border-radius: 1rem;
        text-align: center;
        line-height: 8.8rem;
        background-color: #C8C8C8;
        margin: 9.5rem auto 0;
        color: black;
        font-size: 3.7rem; }

.hamburger__checkbox {
  display: none; }

.hamburger__button {
  background-color: #C8C8C8;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 3.6rem;
  right: 3.6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.hamburger__background {
  background-color: #4F4F4F;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 3.6rem;
  right: 3.6rem;
  z-index: 1000; }

.hamburger__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1500;
  width: 0;
  opacity: 0; }

.hamburger__list {
  text-align: right;
  margin-top: 10rem;
  list-style-type: none; }

.hamburger__item {
  margin-top: 2.4rem;
  font-size: 2.2rem; }

.hamburger__link:link, .hamburger__link:visited {
  display: inline-block;
  font-size: 2.2rem;
  color: #666;
  text-decoration: none;
  text-transform: uppercase; }

.hamburger__link:hover, .hamburger__link:active {
  color: white; }
  .hamburger__link:hover > .bull, .hamburger__link:active > .bull {
    background-color: white; }

.hamburger__checkbox:checked ~ .hamburger__background {
  transform: scale(120); }

.hamburger__checkbox:checked ~ .hamburger__nav {
  width: 100%;
  opacity: 1;
  z-index: 1500; }

.hamburger__icon {
  position: relative;
  margin-top: 2.5rem; }
  .hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
    width: 2.5rem;
    height: .25rem;
    background-color: #333;
    display: inline-block; }
  .hamburger__icon::before, .hamburger__icon::after {
    content: "";
    position: absolute;
    left: 0; }
  .hamburger__icon::before {
    top: -.5rem; }
  .hamburger__icon::after {
    top: .5rem; }

.hamburger__checkbox:checked ~ .hamburger__button {
  background-color: transparent; }

.hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
  background-color: transparent; }

.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
  transform: rotate(135deg);
  top: 0;
  background-color: white; }

.hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
  transform: rotate(-135deg);
  top: 0;
  background-color: white; }

.bull {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #666;
  margin-right: 5rem;
  margin-left: 1.5rem;
  display: inline-block; }

.header {
  background-color: #FFF5D8;
  width: 100vw;
  height: 100vh;
  position: relative;
  text-align: center; }
  .header__block {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto; }
    .header__block-img_shade-img {
      width: 642px;
      height: 342px;
      margin-top: 7rem;
      position: absolute;
      z-index: 2; }
      @media (max-width: 900px) {
        .header__block-img_shade-img {
          width: 97%;
          margin-top: 8rem; } }
      @media (max-width: 600px) {
        .header__block-img_shade-img {
          width: 360px;
          height: 191px;
          margin-top: 8rem; } }
    .header__block-img_shade-shade {
      width: 635px;
      height: 345px;
      background-color: #E8CF8F;
      position: absolute;
      transform: rotate(1deg) translateX(2rem);
      z-index: 1;
      margin-top: 8rem; }
      @media (max-width: 600px) {
        .header__block-img_shade-shade {
          width: 0;
          height: 0; } }
      @media (max-width: 900px) {
        .header__block-img_shade-shade {
          width: 0;
          height: 0; } }
    .header__block-tittle {
      font-family: "Arial";
      text-transform: uppercase;
      backface-visibility: hidden;
      padding-top: 48rem; }
      @media (max-width: 900px) {
        .header__block-tittle {
          padding-top: 45rem; } }
      @media (max-width: 600px) {
        .header__block-tittle {
          padding-top: 33.9rem; } }
      .header__block-tittle-main {
        color: #5E3F15;
        font-size: 3rem;
        letter-spacing: .159rem; }
        @media (max-width: 600px) {
          .header__block-tittle-main {
            font-size: 2.0rem;
            letter-spacing: .062rem;
            margin: 0 3.9rem; } }
      .header__block-tittle-sub {
        padding-top: 2.895rem;
        color: #86663C;
        font-size: 2.3rem;
        letter-spacing: .057rem; }
        @media (max-width: 900px) {
          .header__block-tittle-sub {
            font-size: 2rem;
            margin: 0 5rem; } }
        @media (max-width: 600px) {
          .header__block-tittle-sub {
            font-size: 1.8rem;
            letter-spacing: .045rem;
            margin: 0 6.85rem; } }
    .header__block-btn {
      margin-top: 3.135rem;
      width: 27rem;
      height: 7rem;
      background-color: #F06F04;
      border-radius: 1.5rem;
      display: inline-block;
      font-size: 3.2rem;
      letter-spacing: .08rem;
      line-height: 7rem;
      text-decoration: none;
      color: #fff;
      cursor: pointer; }
      @media (max-width: 600px) {
        .header__block-btn {
          margin: 3.9rem 7.25rem 0;
          width: 21.5rem;
          height: 5.6rem;
          font-size: 2.5rem;
          letter-spacing: .063rem;
          line-height: 5.6rem; } }

.row-3 {
  max-width: 86rem;
  margin: 0 auto; }
  .row-3:not(:last-child) {
    margin-bottom: 8rem; }
  .row-3:after {
    content: "";
    display: table;
    clear: both; }
  .row-3 [class^="col-"] {
    float: left; }
    .row-3 [class^="col-"]:not(:last-child) {
      margin-right: 13rem; }
  .row-3 .col-1-of-3 {
    width: calc((100% - 2 * 13rem) / 3); }

.row-4 {
  max-width: 86rem;
  margin: 0 auto; }
  .row-4:not(:last-child) {
    margin-bottom: 8rem; }
  .row-4:after {
    content: "";
    display: table;
    clear: both; }
  .row-4 [class^="col-"] {
    float: left; }
    .row-4 [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row-4 .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
